@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/Layouts/Empty.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/blog/scripts")
    @Scripts.Render("~/bundles/admin/scripts")
}
<div ng-app="admin" class="static-layout-app">
    <div ng-controller="MainAdminCtrl">
        @Html.AntiForgeryToken()
        @RenderBody()
    </div>
</div>