@model BLL.Payment.ViewModels.RobokassaViewModel
@{
    ViewBag.Title = "Оплата";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}
<div ng-controller="PaymentCtrl"
     class="container payment">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="mod block">
                <div class="mod__header">
                    <div class="mod__header__title">Оплата</div>
                </div>
                <div class="mod__content p-all">
                    <div class="tabs-content">
                        <form action="@Url.Action("Index", "Pay")" method="POST">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-sm-6">
                                    <iframe width="460" height="315" src="//www.youtube.com/embed/Mnr8dIE-T9Y" frameborder="0" allowfullscreen class="payment__video"></iframe>
                                    <div class="payment__video__desc">
                                        Пользователям платного аккаунта становятся доступны ссылки на онлайн конференции Fortress, которые проводятся раз в неделю.
                                        @*Подписываясь, вы поддерживаете развитие сайта и помогаете сделать его еще лучше и полезнее для вас и других участников компании FORTRESS.*@
                                    </div>
                                    <div class="slider-wrap">
                                        <div pay-slider ng-model="tarif" class="slider"></div>
                                    </div>
                                    @*<div class="slider__desc" ng-cloak>
                                        <div ng-show="tarif==1">
                                            1: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==2">
                                            2: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==3">
                                            3: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==4">
                                            4: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==5">
                                            5: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==6">
                                            6: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==7">
                                            7: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==8">
                                            8: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==9">
                                            9: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==10 || tarif==11">
                                            10-11: asdsdasdasdasd
                                        </div>
                                        <div ng-show="tarif==12">
                                            12: asdsdasdasdasd
                                        </div>
                                    </div>*@
                                    <input type="hidden" value="{{tarif}}" name="product" />
                                </div>
                                <div class="col-sm-6">
                                    <div class="clps" collapse>
                                        <div class="clps__item clps__item--active">
                                            <div class="clps__title">Конференция</div>
                                            <div class="clps__cnt">
                                                Оплачивая подписку вы получаете доступ к конференциям,
                                                предназначенных для онлайн-встреч, на
                                                которых Павел Рудометкин и приглашенные спортсмены будут затрагивать
                                                основополагающие темы о здоровье и спорте. Мотивацией для новичков послужит
                                                полноценная социальная сеть для общения и демонстрации своих результатов. Опыт и
                                                результаты профессиональных спортсменов вдохновят вас на активные занятия, а советы,
                                                полученные из первых уст, существенно восполнят ваши знания о тренировках.
                                            </div>
                                        </div>
                                        <div class="clps__item">
                                            <div class="clps__title">Магазин</div>
                                            <div class="clps__cnt">
                                                В разделе
                                                Магазин могут оставить заявку все желающие приобрести любые спотртовары, которые
                                                мы будем заказывать напрямую у поставщиков оптом. Тем самым, в разы уменьшая их
                                                стоимость.
                                            </div>
                                        </div>
                                        <div class="clps__item">
                                            <div class="clps__title">Веб-студия</div>
                                            <div class="clps__cnt">
                                                Приятным бонусом станет услуга Веб-студии. По делитесь своими
                                                тренировками – сделайте видео и пришлите его нам! Наши специалисты по монтажу
                                                сделают из него профессиональный видеоролик, который смогут увидеть все!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        @if (CurrentUser.IsAnonimous)
                                        {
                                            @: чтобы оплатить и получить доступ к онлайн конференциям, необходимо пройти регистрацию на <a href="@Url.Action("Index", "Blog")">главной странице</a>
                                        }
                                        else
                                        {
                                            <button type="submit" class="btn btn--main payment__submit">Оплатить</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </form>
                        @*<p>Стоимость платного аккаунта составляет 100 рублей. Платный аккаунт открывает доступ к конференциям Fortress.</p>
                            <p>Выберите один из предложенных способов оплаты:</p>
                            @using (Html.BeginForm())
                            {
                                <input type="hidden" name="product" value="1"/>
                                <ul class="pay-list">
                                    <li>
                                        <label>
                                            <input type="radio" name="payType" value="Robokassa" checked />Робокасса
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="radio" name="payType" value="PayPal" />PayPal
                                        </label>
                                    </li>
                                </ul>
                                <input class="btn" type="submit" value="Далее"/>
                            }*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
