@model BLL.Payment.ViewModels.RobokassaViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@using (Html.BeginForm("paypal", "Pay", FormMethod.Post))
{
    <input type="text" name="Amount"/>
    <input type="submit" name="submit" value="Оплатить"/>
}*@
@*<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="QU82ADGPW9HPL">
    <input type="image" src="https://www.sandbox.paypal.com/ru_RU/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>*@

<form action='http://test.robokassa.ru/Index.aspx' method=GET>
    <input type=hidden name="MrchLogin" value="@Model.MerchantLogin">
    <input type=hidden name="OutSum" value="@Model.Cost">
    <input type=hidden name="InvId" value=@Model.Id>
    <input type=hidden name="Desc" value="@Model.Description">
    <input type=hidden name="SignatureValue" value="@Model.Signature">
    <input type=submit value='Оплатить'>
</form>
<br/>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="ayrat404-facilitator@gmail.com">
    <input type="hidden" name="item_name" value="Подписка">
    <input type="hidden" name="item_number" value="2">
    <input type="hidden" name="item_id" value="1">
    <input type="hidden" name="return" value="http://localhost:53560">
    <input type="hidden" name="cancel_return" value="http://localhost:53560">
    <input type="hidden" name="amount" value="15.00">
    <input type="image" src="https://www.sandbox.paypal.com/ru_RU/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal — более безопасный и легкий способ оплаты через Интернет!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
