@model BLL.Payment.ViewModels.RobokassaViewModel
@{
    ViewBag.Title = "Выбор способа оплаты";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mod block">
                <div class="mod__header">
                    <div class="mod__header__title">Выбор способа оплаты</div>
                </div>
                <div class="mod__content p-all">
                    <div class="tabs-content">
                        <p>Стоимость платного аккаунта составляет 100 рублей. Платный аккаунт открывает доступ к конференциям Fortress.</p>
                        <p>Выберите один из предложенных способов оплаты:</p>
                        @using (Html.BeginForm())
                        {
                            <input type="hidden" name="product" value="1"/>
                            <input type="radio" name="payType" value="Robokassa"/>  @:Робокасса <br/>
                            <input type="radio" name="payType" value="PayPal"/>  @:PayPal <br/>
                            <input type="submit" value="Далее"/>
                        }
                        @*<input type="radio" name=""/>
                        <ul>
                            <li>
                                <a href="">Робокасса</a>
                            </li>
                            <li>
                                <a href="#">PayPal</a>
                            </li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
