@model BLL.Payment.ViewModels.RobokassaViewModel
@{
    ViewBag.Title = "Выбор способа оплаты";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mod block">
                <div class="mod__header">
                    <div class="mod__header__title">Выбор способа оплаты</div>
                </div>
                <div class="mod__content p-all">
                    <div class="tabs-content">
                        <p>Стоимость платного аккаунта составляет 100 рублей. Платный аккаунт открывает доступ к конференциям Fortress.</p>
                        <p>Выберите один из предложенных способов оплаты:</p>
                        @using (Html.BeginForm())
                        {
                            <input type="hidden" name="product" value="1"/>
                            <ul class="pay-list">
                                <li>
                                    <label>
                                        <input type="radio" name="payType" value="Robokassa" checked />Робокасса
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" name="payType" value="PayPal" />PayPal
                                    </label>
                                </li>
                            </ul>
                            <input class="btn" type="submit" value="Далее"/>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
