@{
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mod settings block">
                <div class="mod__header">
                    <div class="mod__header__title">Оплата</div>
                </div>
                <div class="mod__content">
                    <div class="tabs-content">
                        <div class="alert-success text-center">Платеж успешно проведен</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>