<div class="fs-modal__title">Техническая поддеркжа</div>
<div class="fs-modal__body">
    <form name="SupportForm" ng-submit="submit()">
        <div class="fs-form__row">
            <input placeholder="Ваше имя" class="fs-input"/>
        </div>
        <div class="fs-form__row">
            <input placeholder="Ваш email" class="fs-input" />
        </div>
        <div class="fs-form__row">
            <textarea placeholder="Опишите вашу проблему" rows="7" class="fs-input"></textarea>
        </div>
        <div class="fs-modal__submit">
            <button class="btn btn-fill-green btn-xl" type="submit">Отправить</button>
        </div>
    </form>
</div>