<div>
    <div>
        <button ng-show="images.length<1" ng-click="addImage()" type="button" class="btn btn-default btn-sm article__edit__upload-btn">Загрузить фото</button>
    </div>
    <input type="file" name="UploaderHelper" class="hide js-img-input">

    <div ng-repeat="img in images" class="article__edit__images">
        <img ng-src="{{img.url}}" class="article__edit__img" />
        <div class="article__edit__img-del">
            <span ng-click="removeImage(img.id)" class="link">Удалить</span>
        </div>
    </div>
    <div ng-show="errors.client" class="alert alert-danger">
        Минимальный размер изображения 400x300.<br>
        Максимальный размер файла 10 мб.<br>
    </div>
    <div ng-show="errors.server" class="alert alert-danger">
        Произошла ошибка на сервере, попробуйте ещё раз.
    </div>
</div>