@{
    ViewBag.Title = "Fortress - Настройки";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mod settings block">
                <div class="mod__header">
                    <div class="mod__header__title">Настройки</div>
                </div>
                <div class="mod__content">
                    <div ng-controller="SettingsCtrl"
                         ng-cloak
                         class="tabs-content">
                        
                        @*Добавить/изменить аватар*@
                        @Html.Partial("Shared/Partials/Avatar")

                        @*Новый пароль*@
                        @Html.Partial("Shared/Partials/Password")

                        @*Новый номер телефона*@
                        @Html.Partial("Shared/Partials/Phone")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
