<div class="article-short-info">
    <span><i class="i-art i-art-user"></i>gleb</span>
    <span><i class="i-art i-art-date"></i>10.10.14</span>
    <span><i class="i-art i-art-comments"></i>2</span>
</div>