@model BLL.Blog.ViewModels.IItemInfo
<div class="article-short-info">
    <span><i class="i-art i-art-user"></i>@Model.AuthorName</span>
    <span><i class="i-art i-art-date"></i>@Model.Date</span>
    <span><i class="i-art i-art-comments"></i>@Model.TotalCommentsCount</span>
</div>