<img class="center-block" src="../../../Content/socialApp/images/groups/achievements/achievement-horizontal.png"/>
<div class="fs-modal__title">Достижения</div>
<div class="fs-modal__body">
    <p class="text-center">Достижения - это виртуальная награда в Fortress. Вы моежете получать достижения за выполненные нормативы, такие как бег, отжимания, подтягивания и др. Достижение влияет на Ваш рейтинг, который Вы в дальнейшем сможете объменивать на материальные призы или скидки в интернет-магазинах наших партнеров.</p>
</div>
<div class="fs-modal__submit">
    <button class="btn btn-fill-green btn-xl" type="button" ng-click="goAddAchievement()">Подать заявку на достижение</button>
</div>