/* Articles
---------------------------------------------------------------------------------- */

/* Articles-list (Blog main)
-------------------------------------------------- */

.articles-list {
    background: #fff;

    .al__item {
        border-bottom: 1px solid @color-gray3;
        .box-sizing;
        .no-float;

        &__img {
            float: left;
            width: 25%;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        &__info {
            float: left;
            width: 75%;
            padding: 18px 20px;
        }

        &__title {
            font-size: 1.286em;
            font-family: 'PN_regular';
            color: #000;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

        &__desc {
            font-family: 'PN_light';
            font-size: 1.143em;
            color: #4b4b4b;
            margin-bottom: 15px;
        }

        &__bottom {
            .no-float;
            span {
                font-family: 'PN_light';
                font-size: 1.143em;
                margin-right: 20px;
                .inline-block;
            }

            i {
            }
        }
    }
}

/* /Articles-list (Blog main) */


/* New/edit Article
-------------------------------------------------- */

.article-new {
    &__form {
        background: @color-block-bg;
        padding: 20px;
    }
    input,
    textarea,
    select {
        font-size: 1.286em;
    }
    &__images {

    }
    &__img {
        max-height: 300px;
        max-width: 100%;
    }
    &__text {
        height: 300px;
    }
}

/* /New/edit Article */


/* /Articles
---------------------------------------------------------------------------------- */
