/* Articles
---------------------------------------------------------------------------------- */

.article-short-info {
    color: #a7a7a7;

    span {
        margin-right: 10px;
    }

    i {
        margin-right: 5px;
    }
}

/* Articles-list (Blog main)
-------------------------------------------------- */

.articles-list {
    background: #fff;

    .al__item {
        border-bottom: 1px solid @color-gray3;
        position: relative;
        .box-sizing;
        .no-float;

        &:last-child {
            border-bottom: none;
        }

        &__img {
            float: left;
            width: 25%;

            img {
                max-height: 100%;
                max-width: 100%;
            }
        }

        &__info {
            float: left;
            width: 75%;
            padding: 18px 20px;
            position: relative;
            max-height: 118px;
            overflow: hidden;
        }

        &__title {
            font-size: 1.286em;
            text-transform: uppercase;
            margin-bottom: 10px;
            font-weight: normal;
            word-break: break-word;
        }

        &__desc {
            font-size: 1.143em;
            color: #4b4b4b;
            margin-bottom: 15px;
            word-break: break-word;

            @media (min-width: @screen-sm-min) and (max-width: @screen-lg-min) {
                overflow: hidden;
                height: 23px;
            }
        }

        &__bottom {
            position: absolute;
            bottom: 18px;
            left: 20px;
            right: 20px;
            margin-left: 25%;
            .no-float;

            & > span {
                font-size: 1.143em;
                .inline-block;
            }

            i {
            }
        }

        &__edit {
            margin-left: 20px;
        }
    }
}

/* /Articles-list (Blog main) */


/* New/edit/item Article
-------------------------------------------------- */
.article {
    &__inner {
        background: #fff;
        padding: 15px;
    }
    // страница редактирования статьи
    &__edit {
        &__form {
            background: @color-block-bg;
            padding: 20px;
        }

        input,
        textarea,
        select {
            font-size: 1.286em;
        }

        &__images {
            text-align: center;
            margin-right: 10px;
            position: relative;
            display: inline-block;
        }

        &__img {
            max-height: 250px;
            max-width: 100%;

            &-del {
                text-align: right;
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                padding: 10px;
                background: rgba(0,0,0,.5);
            }
        }

        &__text {
            height: 300px;
        }

        &__upload-btn {
            margin-bottom: 10px;
        }
        &__cancel-media {
            margin-top: 20px;
            font-size: .8em;
        }
    }
    // страница просмотра статьи
    &__item {
        background: #fff;
        position: relative;

        &__edit {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: none;
            padding: 10px;
            background: rgba(0,0,0,.5);
            text-align: right;
        }

        &__img-wrap {
        }

        &__img {
            width: 100%;
        }

        &__text {
            padding: 30px;
        }

        &__title {
            text-transform: uppercase;
            margin: 0 0 15px 0;
            font-size: 1.786em;
            font-weight: bold;
            word-break: break-word;
        }

        &__desc {
            word-break: break-word;
        }

        &__bottom {
            padding-top: 20px;
            margin-top: 20px;
            border-top: 1px solid @color-gray3;
            .no-float;
        }

        &:hover {
            .article__item__edit {
                display: block;
            }
        }
    }
}

/* /New/edit/item Article */


/* /Articles
---------------------------------------------------------------------------------- */
