/* Comments
---------------------------------------------------------------------------------- */

.comment {
    padding: 20px;
    background: #fff;

    &__form {

        textarea {
            border: 1px solid @color-gray3;
            font-family: 'PN_lightIt';
            font-size: 1.286em;
            padding: 0 10px;
            width: 100%;
            height: 80px;
            max-height: 240px;
            margin-bottom: 10px;
        }
    }

    &__list {
        .cl {
            &__it {
                padding: 20px 0;
                border-bottom: 1px solid @color-gray3;
                .no-float;

                &__av-wrap {
                    float: left;
                    width: 80px;
                }

                &__av {
                    max-height: 100%;
                    max-width: 100%;
                }

                &__info {
                    float: left;
                    font-size: 1.143em;
                }

                &__name {
                    font-family: 'PN_regular';
                }

                &__date {
                    color: @color-gray4;
                }

                &__text {
                }
            }
        }
    }
}


/* /Comments
---------------------------------------------------------------------------------- */
