/* Common
---------------------------------------------------------------------------------- */

html,
body {
    font-family: 'PN_regular', Arial, Calibri, Tahoma;
    font-size: 14px;
    height: 100%;
    background-color: #16181a;
}

// стандартная ссылка
a, 
.link {
    outline: none;
    cursor: pointer;
    display: inline-block;
    color: @color-blue;
    .user-select;
    &:focus {
        color: red;
        color: inherit;
        outline: none;
        text-decoration: none;
    }
    &:hover {
        text-decoration: none;
        color: @color-gray1;
    }
}

.static-layout-app {
    height: 100%;
}

// отступы между блоками
.block {
    margin-bottom: 20px;
}

.alert {
    margin: 0;
}

// Сообщения
.msg {
    z-index: 10;
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    text-align: center;
}

// Заголовок-разделитель
.separate {
    &__header {
        font-style: italic;
        border-bottom: 1px solid @color-blue;
        margin-bottom: 10px;
    }
    margin-bottom: 15px;
}

// Часто нужно
.m-top {
    margin-top: 10px;
}

.p-all {
    padding: 20px;
}

/* /Common
---------------------------------------------------------------------------------- */
