/* Conference
---------------------------------------------------------------------------------- */

/* Conference date
-------------------------------------------------- */

.conf-date {
    text-align: center;
    padding: 25px 20px;
    background: url('../../../images/conference/conference-date.png') @color-blue 10px -10px no-repeat;

    &__title {
        color: #fff;
        font-size: 1.286em;
        max-width: 200px;
        margin: 0 auto 30px auto;
    }

    &__counter {
        .no-float;
    }

    &__col {
        float: left;
        margin-right: 10px;
        .no-float;

        p {
            color: #fff;
            font-size: 1.286em;
            margin: 5px 0 0 0;
        }
    }

    &__item {
        width: 50px;
        float: left;
        font-weight: bold;
        font-size: 4.286em;
        color: @color-blue;
        background: #fff;

        &:first-child {
            margin-right: 5px;
        }
    }

    &__link {
        color: #fff;
        font-size: 1.286em;
        text-decoration: underline;

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }

    &__anonim {

    }
}

/* /Conference date */

/* Conference view page
-------------------------------------------------- */

.conference-page {
    .conference {
        &__video {
            background: #fff;
            position: relative;
            padding-bottom: 56.25%; /* 16:9 */
            padding-top: 25px;
            height: 0;

            iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }

        &__info,
        &__comments {
            background: #fff;
            padding: 20px;
        }

        &__info {
        }

        &__comments {
        }
    }
}

/* /Conference view page */

/* /Conference
---------------------------------------------------------------------------------- */
