/* Top navigation
---------------------------------------------------------------------------------- */

.nav {
    &__logo {
        float: left;
        margin-right: 45px;
        line-height: 70px;
    }

    &__list {
        float: left;

        li {
            .inline-block;
        }

        &__link {
            font-size: 1.286em;
            text-transform: uppercase;

            &--disable {
                cursor: default;
            }
        }
    }

    &__search {
        float: right;
        line-height: 70px;

        &__input {
            line-height: 28px;
            border: 1px solid @color-gray3;
        }
    }

    &__add-article {
        float: right;
        line-height: 70px;

        .btn {
            line-height: 38px;
        }
    }

    &__user {
        float: right;
        width: 220px;

        &__link {
            line-height: 70px;
            cursor: pointer;
            .user-select;

            &:hover {
                .nav__user__name {
                    color: #fff;
                }
            }
        }

        &__avatar {
            max-width: 40px;
            max-height: 40px;
            .border-radius(50%);
            background: #fff;
            .inline-block;
            margin-right: 5px;
        }

        &__name {
            .inline-block;
            color: @color-gray1;
        }

        &__menu-wrap {
            position: relative;

            .nav__user__menu {
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                padding: 10px 20px;
                background: #000;
                text-align: right;

                a {
                    display: block;
                    color: @color-gray1;
                    font-size: 1.2em;

                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &--top {
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1051;

        .nav__list {
            li {
                line-height: 70px;
                margin-right: 15px;
            }

            .nav__list__link--disable {
                &:hover {
                    color: @color-gray1;
                }
            }

            &__link {
                color: @color-gray1;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    &--middle {
        background: #fff;
        margin-bottom: 40px;

        .nav__list {
            &__line {
                height: 4px;
                background: @color-blue;
                width: 0;
                .transition(width .2s ease);
            }

            &__link {
                padding: 0 15px;
                line-height: 70px;
                color: @color-gray2;
            }

            li {
                float: left;

                &:hover,
                &.active {
                    .nav__list__link {
                        color: @color-dark;
                        text-decoration: none;
                    }

                    .nav__list__line {
                        width: 100%;
                    }
                }
            }

            &:hover {
                li {
                    .nav__list__line {
                        width: 0;
                    }

                    &:hover,
                    .active {
                        .nav__list__link {
                            color: @color-dark;
                            text-decoration: none;
                        }

                        .nav__list__line {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

/* /Top navigation
---------------------------------------------------------------------------------- */
