/* Top navigation
---------------------------------------------------------------------------------- */


.nav {
    &__logo {
        float: left;
        margin-right: 45px;
        line-height: 70px;

        @media (max-width: 880px) {
            margin-right: 10px;
            width: 26px;
            overflow: hidden;
        }

        @media (max-width: @mobileShow) {
            float: none;
            width: 140px;
            margin: 0 auto;
            display: block;
            line-height: 40px;
        }
    }

    &__list {
        float: left;

        li {
            .inline-block;
        }

        &__link {
            position: relative;
            font-size: 1.286em;
            text-transform: uppercase;

            &--disable {
                cursor: default;
            }
        }
    }

    &__search {
        float: right;
        line-height: 70px;

        &__input {
            line-height: 28px;
            border: 1px solid @color-gray3;
        }
    }

    &__add-article {
        float: right;
        line-height: 70px;

        @media (max-width: @screen-xs-min) {
            float: none;

            .btn {
                width: 100%;
            }
        }

        .btn {
            line-height: 38px;
        }
    }

    &__status {
        float: left;
        margin: 23px 20px 0 0;

        &--payed {
        }

        &--unpayed {
        }
    }

    &__user {
        float: right;
        width: 220px;

        &__link {
            display: inline-block;
            line-height: 70px;
            cursor: pointer;
            .user-select;

            &:hover {
                .nav__user__name {
                    color: #fff;
                }
            }
        }

        &__avatar {
            max-width: 40px;
            max-height: 40px;
            border: 2px solid @color-blue;
            .inline-block;
            margin-right: 5px;
        }

        &__name {
            .inline-block;
            color: @color-gray1;
        }

        &__menu-wrap {
            position: relative;
        }

        &__menu {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            padding: 10px 20px;
            background: #000;
            text-align: left;

            a {
                display: block;
                color: @color-gray1;
                font-size: 1.2em;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }

    &--top {
        background: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;

        .container-fluid {
            margin: 0 auto;
            max-width: 1350px;
        }

        .nav__list {

            @media(max-width: @mobileShow) {
                display: none;
            }

            li {
                line-height: 70px;
                margin-right: 15px;
            }

            .nav__list__link--disable {
                &:hover {
                    color: @color-gray1;
                }
            }

            &__link {
                color: @color-gray1;

                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }

        .nav__user {
            @media(max-width: @mobileShow) {
                display: none;
            }
        }
    }

    &--mobile {
        display: none;
        position: fixed;
        left: -100%;
        right: 0;
        bottom: 0;
        top: 40px;
        width: 100%;
        transition: left .2s linear;
        background-color: #16181a;
        z-index: 10;
        overflow: auto;

        &__header {
            .no-float;
        }

        &.open {
            left: 0%;
        }

        .nav__list {
            float: none;
            display: block;
            .no-float;
            font-size: 14px;

            li {
                display: block;
            }
        }

        &__user {
            padding: 10px;

            .nav__user__name {
                display: inline-block;
            }

            .nav__status {
                margin: 0;
                float: right;
            }
        }

        .nav__list--user-wrap {
            border-top: 1px solid #4C4C4C;
            padding-top: 10px;
        }

        .nav__list--user {
            font-size: 10px;
            font-style: italic;
        }

        .nav__list__link {
            padding: 10px;
            width: 100%;
            color: #fff;
        }

        @media(max-width: @mobileShow) {
            display: block;
        }
    }

    &--middle {
        background: #fff;
        margin-bottom: 40px;

        .nav__list {
            @media (max-width: @screen-xs-min) {
                float: none;

                li {
                    float: none;
                }
            }

            &__line {
                height: 4px;
                background: @color-blue;
                width: 0;
                .transition(width .2s ease);
            }

            &__link {
                padding: 0 15px;
                line-height: 70px;
                color: @color-gray2;

                @media (max-width: @screen-xs-min) {
                    line-height: 40px;
                }

                @media (max-width: @screen-xs-min) {
                    line-height: 40px;
                }
            }

            li {
                float: left;

                &:hover,
                &.active {
                    .nav__list__link {
                        color: @color-dark;
                        text-decoration: none;
                    }

                    .nav__list__line {
                        width: 100%;
                    }
                }
            }

            &:hover {
                li {
                    .nav__list__line {
                        width: 0;
                    }

                    &:hover,
                    .active {
                        .nav__list__link {
                            color: @color-dark;
                            text-decoration: none;
                        }

                        .nav__list__line {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.nav__link__counter {
    background-color: @color-blue;
    color: #fff;
    border-radius: 10px;
    padding: 0px 5px;
    font-size: 0.643em;
    vertical-align: top;
}

.nav__mobile-toggle {
    display: none;
    float: left;
    margin-top: 10px;
    margin-right: -24px;
    cursor: pointer;
    .sprite(@menu);

    @media(max-width: @mobileShow) {
        display: inherit;
    }
}

@media (max-width: @screen-sm-max) {
    .nav__user {
        width: auto;

        &__name {
            display: none;
        }

        &__menu {
            left: auto;
        }
    }
}

@media (max-width: @screen-xs-max) {
    .nav__status {
        margin: 26px 10px 0 0;
    }

    .nav__user__avatar {
        height: 20px;
        width: 20px;
    }
}

/* /Top navigation
---------------------------------------------------------------------------------- */
