/* Record
---------------------------------------------------------------------------------- */

.record {
}

.record__wrap {
    padding-top: 30px;
    background-color: @text-color;
}

.record__text {
    background: #fff;
    font-family: 'F1 Light';
    padding: 25px;
    color: #000;
}

.record__bottom {
    .rcd__author-wrap {
    }

    .rcd__author__img {
    }

    .rcd__author {
    }

    .rcd__author__name {
    }

    .rcd__date {
    }

    .likes-row {
    }

    .rcd__controls {
    }

    .rcd__edit {
    }

    .rcd__remove {
    }
}

.record__media {
}

.record__tags {
}

.record__form {
}

.record__comments {
}

/* /Record
---------------------------------------------------------------------------------- */
