﻿ /* Tape
---------------------------------------------------------------------------------- */
.tape-view {
    background: @text-color;
    padding-top: 40px;
    .no-float();

    .wall__it,
    .wall__it__inner {
        height: 387px;
    }
    .wall__it__triangle {
        top: 44px;
    }
    .wall__it--left {
        right: 305px;
    }
    .wall__it--right {
        left: 57px;
        top: 100px;
    }
}


/* /Tape
---------------------------------------------------------------------------------- */
