@{
    ViewBag.Title = "Fortress - Восстановление пароля";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mod settings">
                <div class="mod__header">
                    <div class="mod__header__title">Восстановление пароля</div>
                </div>
                <div class="mod__content">
                    <div ng-controller="RestorePasswordCtrl"
                         class="tabs-content">
                        <form ng-submit="requestCode(f)"
                              name="requestCodeForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="blog-form__desc">Номер телефона</div>
                                </div>
                                <div class="col-sm-5">
                                    <input ng-model="f.phone"
                                           ng-class="{'input--invalid': requestCodeForm.phone.$error.required && vs.phone}"
                                           ng-blur="vs.phone==true"
                                           name="phone"
                                           required
                                           class="input" />
                                </div>
                            </div>
                            <div class="text-right">
                                <button ng-disabled="requestCodeForm.$invalid || isLoading" type="submit" class="btn btn--main btn--xs">Отправить код</button>
                            </div>
                        </form>
                        <form ng-submit="restorePasswrod(verify)"
                              ng-show="smsBlockShow"
                              ng-cloak
                              name="restorePasswordForm">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="blog-form__desc">Новый пароль</div>
                                </div>
                                <div class="col-sm-5">
                                    <input ng-model="verify.password"
                                           ng-disabled="disableInp"
                                           ng-class="{'input--invalid': restorePasswordForm.password.$error.required && vs.password}"
                                           ng-blur="vs.password=true"
                                           ng-autofocus="{{smsBlockShow}}"
                                           name="password"
                                           required
                                           class="input" type="password" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="blog-form__desc">Пароль ещё раз</div>
                                </div>
                                <div class="col-sm-5">
                                    <input ng-model="verify.confirmPassword"
                                           ng-disabled="disableInp"
                                           ng-class="{'input--invalid': restorePasswordForm.confirmPassword.$error.required && vs.confirmPassword}"
                                           ng-blur="vs.confirmPassword=true"
                                           name="confirmPassword"
                                           required
                                           class="input" type="password" />  
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="blog-form__desc">sms код</div>
                                </div>
                                <div class="col-sm-5">
                                    <input ng-model="verify.code"
                                           ng-disabled="disableCode"
                                           ng-class="{'input--invalid': verify.code.length!=4 && vs.code}"
                                           ng-blur="vs.code=true"
                                           maxlength="4" class="input" required placeholder="Код подтверждения" name="code" type="text" />
                                </div>
                            </div>
                            <span ng-if="timerForSms > 0">Выслать код повторно через {{timerForSms}} секунд</span>
                            <span ng-if="timerForSms == 0" class="link" ng-click="requestCode(f.phone);">Выслать повторно</span>
                            <div class="text-right">
                                <button ng-disabled="restorePasswordForm.$invalid || verify.code.length != 4"
                                        type="submit" class="btn btn--main">
                                    Сохранить новый пароль
                                </button>
                            </div>
                        </form>
                        @*Ошибки, лоадеры*@
                        <div ng-cloak
                             class="m-top">
                            <div ng-if="success" class="alert alert-success">
                                Пароль успешно сохранен, теперь войдите на сайт.
                                <a href="@Url.Action("Index", "Blog")">Вернуться на главную</a>
                            </div>
                            <div ng-show="isLoading">Подождите, идет загрузка...</div>
                            <div ng-if="er.server.length" class="alert alert-warning">{{er.server}}</div>
                            <div ng-if="er.s404" class="alert alert-danger">Сервер недоступен</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
