<div class="fs-modal__title">@R("Вы уверены, что хотите удалить запись?")</div>
<div class="fs-modal__submit">
    <button class="btn btn-fill-red btn-xl" type="button" ng-click="remove()">@R("Удалить")</button>
    <button class="link link--white" type="button" ng-click="close()">@R("Отмена")</button>
</div>