/* Modal
---------------------------------------------------------------------------------- */

/* Common
-------------------------------------------------- */

.gl-modal {
    .close {
        text-indent: -9999em;
        margin-top: -6px;
        margin-right: 7px;
        //.sprite(@modal-close);
    }
}

/* /Common */


/* Modal Callback
-------------------------------------------------- */

.gl-modal--callback {
    .modal-dialog {
        max-width: 400px;
    }

    .modal-body {
        padding: 15px 0;
        overflow-x: hidden;
    }

    .modal-footer {
        text-align: center;
    }

    .alert {
        margin-top: 20px;
        text-align: center;
    }
}

.callback {
}

.callback__img {
    max-width: 100%;
}

.callback__text {
    margin: 40px auto 0;
    max-width: 290px;
    text-align: center;
    font-size: 1.286em;
}

.callback__phone {
    height: 50px;
    font-size: 2.143em;
    background-color: #797b7f;
    color: #fff;
    margin: 17px auto 0;
    max-width: 360px;
    display: block;
    letter-spacing: 4.6px;
}

/* /Modal Callback */

/* /Modal
---------------------------------------------------------------------------------- */
