/* Modal
---------------------------------------------------------------------------------- */

.modal-dialog {
    z-index: 1041;
}

.modal-backdrop {
    background: rgba(21,29,33, .95);

    &.in {
        opacity: 1;
    }
}

/* Common
-------------------------------------------------- */

.fs-modal {
    .modal-close {
        position: absolute;
        top: 20px;
        right: 40px;
        cursor: pointer;
        opacity: .8;
        user-select: none;
        .sprite(@close-modal);

        &:hover {
            opacity: 1;
        }
    }
}

/* /Common */


/* Modal transparent
-------------------------------------------------- */

.fs-modal--transparent {
    .modal-content {
        background-color: transparent;
    }
    .fs-modal__title {
        font-size: 18px;
        color: #fff;
        font-family: 'F1 ExtraBold';
        text-align: center;
        margin-bottom: 30px;
    }
    .fs-modal__body {

    }
    .fs-modal__submit {
        margin-top: 10px;
        text-align: center;
    }
}

/* /Modal transparent */

/* /Modal
---------------------------------------------------------------------------------- */
