/* Navigation
---------------------------------------------------------------------------------- */

.social__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.social__content {
    padding-top: 85px;
}

/* Social navigation
-------------------------------------------------- */

.nav {
    background-color: @brand-dark2;

    .user-notice {
        float: left;
        margin: 35px 40px 0 0;
        .sprite(@notice-small);
    }

    height: 85px;
}

.nav__brand {
    float: left;
    margin: 29px 40px 0 0;
    .sprite(@logo);
}

.nav__list {
    line-height: 84px;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__list__it {
    display: inline-block;
}

.nav__list__it--lang {
    .nav__list__link {
        padding: 0 2px;
        .icon-ru {
            .sprite(@lang-ru);
            display: inline-block;
            vertical-align: middle;
        }
        .icon-en {
            .sprite(@lang-en);
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.nav__list__link {
    display: inline-block;
    padding: 0 13px;
    color: #fff;
    font-family: 'F1 Bold';
    font-size: 0.857em;

    &.active {
        background-color: @brand-gray2;
    }
}

.nav__right {
    float: right;
    margin-top: 22px;
}

.nav__journal {
    margin-right: 75px;
}

.nav__dropdown {
    .dropdown-menu {
        padding: 0;
        font-size: 0.857em;
        left: auto;
        right: 0;
        border-radius: 0;
        min-width: 140px;

        li {
            a,
            span{
                cursor: pointer;
                padding: 9px 20px;
            }
        }
    }
}

.nav__dropdown__btn {
    cursor: pointer;
    user-select: none;

    .caret {
        color: #fff;
    }
}

.nav__dropdown__photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

/* /Social navigation */

/* /Navigation
---------------------------------------------------------------------------------- */
