/* User info
---------------------------------------------------------------------------------- */

.user-info {
  position: relative;
  border-bottom: 1px solid #d7d9db;
  .no-float();
}

.user-info--media {
  .user-info__media {
    display: block;
  }
  .user-info__about {
    padding: 0;
    margin: 25px 15px;
    position: relative;
    .ui__edit {
      bottom: auto;
      top: 9px;
      right: 0;
      text-align: right;
    }
  }
}

.user-info__avatar {
  margin: 0 -100% 0 0;
  border-right: 1px solid #d7d9db;
  position: relative;
  height: 230px;
  width: 230px;
  float: left;
  background-color: #f5f5f5;

  .ui__avatar-upload {
    height: 100%;
    cursor: pointer;
    user-select: none;
    text-align: center;
    .icon-upload {
      margin-top: 22%;
      display: inline-block;
      vertical-align: middle;
      .sprite(@photo-upload-medium);
    }
    .link {
      margin-top: 15px;
      font-size: 0.857em;
    }
  }
}

.user-info__avatar__img {
  height: 100%;
  width: 100%;
}

.user-info__about {
  padding: 17px 17px 27px 0;
  margin-left: 250px;
  .ui__name {
    font-family: 'F1 Bold';
    font-size: 1.571em;
  }
  .ui__age {
  }
  .ui__location {
    &:before {
      content: '';
      display: inline-block;
      margin-right: 7px;
      .sprite(@typ-location);
    }
  }
  .ui__edit {
    font-size: 0.857em;
    position: absolute;
    left: 250px;
    bottom: 17px;
  }
}

.user-info__media {
  display: none;
  margin-left: 230px;
  position: relative;
  .no-float();
  .ui-m__it__img {
    height: 77px;
    width: 77px;
  }
  .ui-m__it {
    cursor: pointer;
    user-select: none;
    position: relative;
    float: left;
  }
  .ui-m__it__overlay {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(21,29,33,.7);
    position: absolute;
  }
  .ui-m__it__play {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    .sprite(@media-play);
  }
}

/* /User info
---------------------------------------------------------------------------------- */
