/* Wall
---------------------------------------------------------------------------------- */


.wall {
}

.wall__bar {
    width: 2px;
    position: relative;
    min-height: 700px;
    background-color: @brand-dark2;
    margin: 0 auto;
}

.wall__it {
    position: relative;
    height: 360px;
    width: 250px;
    background-color: @brand-dark2;
}

.wall__it__inner {
    height: 360px;
    width: 250px;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.wall__it--left {
    float: left;
    right: 290px;
    margin-bottom: 40px;

    .wall__it__btn {
        right: -50px;
    }

    .wall__it__triangle {
        border-color: transparent transparent transparent @brand-dark2;
        right: -8px;
        border-width: 7.5px 0 7.5px 8px;
    }
}

.wall__it--right {
    margin-bottom: 40px;
    top: 55px;
    left: 40px;

    .wall__it__btn {
        left: -48px;
    }

    .wall__it__triangle {
        border-color: transparent @brand-dark2 transparent transparent;
        left: -8px;
        border-width: 7.5px 8px 7.5px 0;
    }
}

.wall__it__triangle {
    position: absolute;
    top: 22px;
    width: 0;
    height: 0;
    border-style: solid;
}

.wall__it__btn {
    cursor: pointer;
    top: 20px;
    position: absolute;
    opacity: .7;
    transition: opacity 100ms linear;
    user-select: none;

    &:hover {
        opacity: 1;
    }

    .sprite(@wall-point)
}

.wall__it__header-info,
.wall__it__header-edit {
    height: 60px;
    display: table;
    width: 100%;

    i {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.wall__it__header-edit {
    background-color: @brand-red2;
    display: none;

    .wi__edit,
    .wi__remove {
        position: relative;
        vertical-align: middle;
        display: table-cell;
        width: 50%;
        cursor: pointer;
    }

    .wi__edit {
        border-right: 1px solid @text-color;

        i {
            .sprite(@edit-sm);
        }

        &:hover {
            i {
                .sprite(@edit-sm-hover);
            }
        }
    }

    .wi__remove {
        border-left: 1px solid @text-color;

        i {
            .sprite(@remove-sm);
        }

        &:hover {
            i {
                .sprite(@remove-sm-hover);
            }
        }
    }
}

.wall__it__header-info {
    .wi__date,
    .wi__share,
    .wi__comment {
        position: relative;
        vertical-align: middle;
        display: table-cell;
    }

    .wi__date {
        text-align: center;
        font-family: 'F1 Bold';
        width: 50%;
        color: #fff;
    }

    .wi__share {
        width: 25%;
        cursor: pointer;

        i {
            .sprite(@share-sm);
        }

        &:hover {
            i {
                .sprite(@share-sm-hover);
            }
        }
    }

    .wi__comment {
        width: 25%;
        cursor: pointer;

        i {
            .sprite(@comment-sm);
        }

        &:hover {
            i {
                .sprite(@comment-sm-hover);
            }
        }
    }
}

.wall__it__content {
    background-color: #fff;
    height: 250px;
    overflow: hidden;

    .wi__text {
        padding: 10px 15px;
    }

    .wi__media-wrap {
        position: relative;
        height: 170px;
        cursor: pointer;

        &.video {
            i {
                .sprite(@play);
            }

            &:hover {
                i {
                    .sprite(@play-hover);
                }
            }
        }

        &.image {
            i {
                .sprite(@zoom);
            }

            &:hover {
                i {
                    .sprite(@zoom-hover);
                }
            }
        }

        &:hover {
            .wi__media__icon {
                background: rgba(4,7,9, .8);
            }
        }
    }

    .wi__media__img {
        width: 100%;
        height: 100%;
    }

    .wi__media__icon {
        background: rgba(4,7,9, .4);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: background 100ms linear;

        i {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.wall__it--edit {
    .wall__it__btn {
        .sprite(@wall-point-active);
    }

    .wall__it__header-info {
        display: none;
    }

    .wall__it__header-edit {
        display: table;
    }

    &.wall__it--right {
        .wall__it__triangle {
            border-color: transparent @brand-red2 transparent transparent;
        }
    }

    &.wall__it--left {
        .wall__it__triangle {
            border-color: transparent transparent transparent @brand-red2;
        }
    }
}


/* /Wall
---------------------------------------------------------------------------------- */
