<div class="likes-row">
    <div class="lr__btn" ng-click="like()"><i></i></div>
    <a ng-repeat="l in likes.list | limitTo:o.rowCount" ui-sref="main.profile({userId: l.id})" class="lr__user">
        <img ng-src="{{ l.img | imageResize:{w: o.imageSize, h: o.imageSize} }}" alt="{{l.fullName}}" />
    </a>
    <a ng-show="likes.count > o.rowCount && o.showLink" href="#" class="lr__more">+{{likes.count-o.rowCount}}</a>
</div>