<div class="media-upload-controls">
    <div class="muc__row" ng-show="isVideoRowShow">
        <div class="muc__row__input-wrap">
            <input ng-model="youtubeLink"
                   type="text" placeholder="@R("Вставьте ссылку из youtube")" class="fs-input muc__input">
        ></div>
        <div class="muc__row__actions-wrap">
            <button ng-disabled="!youtubeLink.length"
                    ng-click="sendVideoLink(youtubeLink)"
                    type="button" class="btn btn-fill-green muc__btn">@R("Отправить")</button>
            <span class="muc__close" ng-click="isVideoRowShow=false; youtubeLink=''"></span>
        </div>
    </div>
    <span flow-init="{ target: '/api/upload', testChunks:false }"
          flow-file-success="imgResponse($message)"
          flow-files-submitted="$flow.upload()"
          flow-btn
          class="link muc__action">
        <i class="photo"></i>
        @R("Добавить фотографию")
    </span>
    <span class="link muc__action"
          ng-show="!isVideoRowShow"
          ng-click="isVideoRowShow=true">
        <i class="video"></i>
        @R("Добавить видео")
    </span>
</div>
