<div class="trial-visual">
    <div class="tv__days">
        <div class="tv__days__val">{{currentDays}}</div>
        <div class="tv__days__desc">{{currentDays|formatWord:["@R("день")", "@R("дня")", "@R("дней")"]}}</div>
    </div>
    <canvas height="170" width="170"></canvas>
</div>