<div class="social-share">
    <span ng-repeat="provider in providerList"
          socialshare
          socialshare-url="{{::prop.url}}"
          socialshare-text="{{::prop.text}}"
          socialshare-media="{{::prop.media}}"
          socialshare-hashtags="{{::prop.hashtags}}"
          socialshare-provider="{{::provider}}"
          class="ss__it">
        <span class="icon icon--{{::provider}}"></span>
    </span>
</div>