<div class="tags">
    <input ng-model="search"
           typeahead="theme for theme in getThemes($viewValue)"
           typeahead-append-to-body="true"
           typeahead-loading="loadingLocations"
           typeahead-no-results="noResults"
           typeahead-on-select="format($item, $model, $label)"
           typeahead-wait-ms="600"
           class="fs-input tag-search" type="text" 
           placeholder="@R("Укажите тематику")" />

    <ul class="tag-list">
        <li class="tl__item"
            ng-repeat="theme in themes track by $index"
            ng-click="removeTag(theme)">
            <span class="tl__text">{{theme}}</span>
            <span class="tl__remove"></span>
        </li>
    </ul>
</div>
