@{
    ViewBag.Title = "Fortress - Панель управления";
    Layout = "../Admin/Shared/Layouts/AdminLayout.cshtml";
}
<div class="cp">
    <div ng-controller="SidebarCtrl" class="cp__sidebar-left">
        @Html.Partial("Shared/Partials/Sidebar")
    </div>
    <div class="cp__content">
        <div ng-view></div>
    </div>
</div>