<div class="cp__sb__header">
    Fortress
</div>
<div class="cp__sb__user">
    <div class="cp__sb__user__avatar"></div>
</div>
<div class="cp__sb__menu">
    <a href="#/" class="cp__sb__menu__it">
        <span class="cp__sb__menu__title">Статьи</span>
    </a>
    <div class="cp__sb__menu__it">
        <span class="cp__sb__menu__title">Конференции</span>
        <div class="cp__sb__submenu">
            <a href="#/conference">Все</a>
            <a href="#/conference/new">Создать</a>
        </div>
    </div>
</div>
