<section class="tape-view">

    <div data-loader="tape.loader"
         ng-if="!tape.pageError">
        <div ng-if="tape.list.length"
             class="wall">
            <div class="wall__bar">
                <div ng-repeat="it in tape.list"
                     ng-class="{
                                 'wall__it--right': $index % 2 != 0,
                                 'wall__it--left': $index % 2 == 0
                                 }"
                     class="wall__it">
                    <div class="wall__it__triangle"></div>
                    <a ui-sref="main.profile({userId: it.object.author.id})" class="wall__it__author__img-wrap">
                        <img ng-src="{{ ::(it.object.author.avatar|imageResize:{w: 60, h: 60}) }}" class="wall__it__author__img" />
                    </a>

                    <div ng-if="it.type == 'record'" class="wall__it__inner">
                        <a ui-sref="main.profile({userId: it.object.author.id})" class="wall__it__author-name">{{::it.object.author.fullName}}</a>
                        <header class="wall__it__header-info">
                            <span class="wi__date">{{::(it.object.created|date:'dd/MM/yyyy')}}</span>
                            <div ng-click="tape.share(it.object)" class="wi__share"><i></i></div>
                            <a ui-sref="main.journalIt({id: it.object.id})" class="wi__comment"><i></i></a>
                        </header>
                        <section class="wall__it__content">
                            <div ng-if="it.object.media.length"
                                 ng-class="{
                                             'video': it.object.media[0].type=='video',
                                             'image': it.object.media[0].type=='image'
                                             }"
                                 media-show-modal
                                 data-id="{{::it.object.id}}"
                                 data-index="0"
                                 data-entity-type="record"
                                 class="wi__media-wrap">
                                <img ng-src="{{ it.object.media[0].url | imageResize:{w: 250, h: 170 } }}" class="wi__media__img" />
                                <div class="wi__media__icon">
                                    <i></i>
                                </div>
                            </div>
                            <p class="wi__text">{{it.object.text}}</p>
                        </section>
                        <likes-in-row ng-model="it.object.likes"
                                      data-id="{{::it.object.id}}"
                                      data-entity-type="record"></likes-in-row>
                    </div>

                    <div ng-if="it.type == 'achievement'" class="wall__it__inner wall__it__inner--achievement">
                        <a ui-sref="main.profile({userId: it.object.author.id})" class="wall__it__author-name">{{::it.object.author.fullName}}</a>
                        <header class="wall__it__header-info">
                            <span class="wi__date">{{::(it.object.created|date:'dd/MM/yyyy')}}</span>
                            <div ng-click="tape.share(it.object)" class="wi__share"><i></i></div>
                            <a ui-sref="main.achievementView({id: it.object.id})" class="wi__comment"><i></i></a>
                        </header>
                        <section class="wall__it__content">
                            <p class="wi__text">
                                <span ng-if="::it.object.status == 'credit'">@R("Я получил достижение:")</span>
                                <span ng-if="::it.object.status != 'credit'">@R("Я подал заявку на достижение:")</span>
                                <br />
                                <b>{{::it.object.title}}</b>
                            </p>
                            <div class="wi__media-wrap">
                                <img ng-src="{{ ::(it.object.cupImage | imageResize:{w: 165, h: 165 }) }}" class="wi__media__img" />
                                <div ng-if="::it.object.status == 'credit'" class="wi__closed"></div>
                            </div>
                        </section>
                        <likes-in-row ng-model="it.object.likes"
                                      data-id="{{::it.object.id}}"
                                      data-entity-type="achievement"></likes-in-row>
                    </div>

                </div>
            </div>
        </div>
        
        <div ng-if="!tape.list.length">
            <div class="container">
                <div class="alert alert-info text-center">
                    @R("Ваша лента пуста")
                </div>
            </div>
        </div>

    </div>

    <div ng-if="tape.pageError"
         class="server-error server-error--dark">
        <div class="container">
            <div class="alert alert-warning text-center">@R("Что то пошло не так. Пожалуйста вернитесь на страницу своей ленты позже. Мы уже прилагаем все усилия чтобы устранить проблему.")</div>
        </div>
    </div>

</section>