@{
    ViewBag.Title = "Fortress - Конференция";   @*TODO указывать название конференции*@
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="blog__content conference-page block">
    <div class="container">
        <div class="row blog__content__top">
            <div class="col-sm-8">

                @*Видео*@
                <div class="conference__video block">
                    @*TODO ссылка на видео трансляции*@
                    <iframe width="560" height="315" src="//www.youtube.com/embed/iQ7E3QozGPA" frameborder="0" allowfullscreen></iframe>
                </div>

                @*Краткая информация о конференции*@
                <div class="conference__info block">
                    @*TODO название конференции*@
                    <h2>Название</h2>
                    @*TODO краткое описание конференции*@
                    <p>Краткое описание краткое описание краткое описание краткое описание краткое описание краткое описание </p>
                </div>
                
                @*Комментарии*@
                @Html.Partial("Partials/Comments")

                @*Комментарии disqus*@
                @*<div class="conference__comments">
                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        var disqus_shortname = 'fortress-social'; // required: replace example with your forum shortname
                        var disqus_identifier = 'conference-'; //TODO нужно прибавлять conference ID
                        //var disqus_title - возьмет автоматически title страницы
                        //var disqus_category_id - можно указывать id категории конференции, но пока категорий для конференций нет

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function () {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Пожалуйста включите Javascript чтобы увидеть комментарии</noscript>
                </div>*@
            </div>
            <div class="col-sm-4">
                
                @*Информаия о докладчике*@
                @Html.Partial("~/Views/Blog/Shared/Partials/Blocks/User.cshtml")
            </div>
        </div>
    </div>
</div>