/* Form
---------------------------------------------------------------------------------- */

.fs-form {
}

.fs-input {
    font-family: 'F1 Light';
    background-color: #fff;
    outline: none;
    border: 1px solid #fff;
    color: @text-color;
    padding: 12px 20px;
    width: 100%;

    ::-webkit-input-placeholder {
        color: #575757;
    }

    ::-moz-placeholder {
        color: #575757;
    }

    :-moz-placeholder {
        color: #575757;
    }

    :-ms-input-placeholder {
        color: #575757;
    }

    &:focus {
    }
}

.fs-form__row {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

/* /Form
---------------------------------------------------------------------------------- */
