/* Form
---------------------------------------------------------------------------------- */

.fs-form {
    &.form-horizontal {
        .control-label {
            font-weight: normal;
            padding-top: 13px;
        }
    }
}

.fs-input {
    font-family: 'F1 Light';
    background-color: #fff;
    outline: none;
    border: 2px solid #fff;
    color: @text-color;
    padding: 12px 20px;
    width: 100%;

    &::-webkit-input-placeholder {
        color: #575757;
    }

    &::-moz-placeholder {
        color: #575757;
    }

    &:-moz-placeholder {
        color: #575757;
    }

    &:-ms-input-placeholder {
        color: #575757;
    }

    &:focus {
    }

    &:disabled {
        color: #afafaf;
        background: #e4e4e4;
    }
}

.fs-input--xs {
    padding: 0 8px;
}

.fs-input--border {
    border-color: @brand-gray4;
}

.fs-input--error {
    border-color: @brand-red;
}

.fs-input-empty {
    font-family: 'F1 Light';
    font-size: 18px;
    padding-top: 11px;
    display: inline-block;
}

.fs-form__row {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    &.row {
        margin-left: -5px;
        margin-right: -5px;

        & > div {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}

.fs-form__submit {
    margin: 18px 0;

    .link--white {
        line-height: 46px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }

    p {
        margin-top: 12px;
    }
}

.label18 {
    margin-top: 15px;
    display: inline-block;
    font-size: 14px;
}


.fs-radio {
    display: inline-block;
    .fs-radio__label {
        cursor: pointer;
        color: @brand-gray5;
        border-bottom: 1px dashed @brand-gray5;
        &.active {
            color: #fff;
            border-bottom: none;
        }
        &:hover {
            color: lighten(@brand-gray5, 5%);
        }
    }

    .fs-radio__input {
        display: none;

        &:checked + .fs-radio__label {
            color: #fff;
            border-bottom: none;
        }
    }
}

/* /Form
---------------------------------------------------------------------------------- */
