/* Achievement select list
---------------------------------------------------------------------------------- */

.achievement-select-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  .asl__it {
    display: inline-block;
    width: 236px;
    height: 346px;
    border: 5px solid #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.3);
    margin: 9px;
  }
  .asl__it__img {
    height: 100%;
    width: 100%;
  }
}

/* /Achievement select list
---------------------------------------------------------------------------------- */
