<div class="cp-conference">
    <div class="cp-block">
        <h2>Список конференций</h2>
        <div class="container-fluid">
            <div class="row">
                <form ng-submit="getConferences(model.search)"
                      ng-init="getConferences(model.search)">
                    <div class="col-xs-4">
                        <select ng-model="model.search.status" class="input">
                            <option value="">Все конференции</option>
                            <option value="0">Предстоящие</option>
                            <option value="1">Идут сейчас</option>
                            <option value="2">Проведенные</option>
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <input ng-model="model.search.query" type="text" class="input" placeholder="Поиск по содержимому" />
                    </div>
                    <div class="col-xs-2">
                        <button type="submit" class="btn btn-success">Найти</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="cp-block">
        <div class="cp-conference__list">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        Название/ссылка
                    </div>
                    <div class="col-xs-2">
                        Дата проведения
                    </div>
                    <div class="col-xs-2">
                        Статус
                    </div>
                    <div class="col-xs-5">
                        Действия
                    </div>
                </div>
                <div ng-repeat="cnf in model.conferences"
                     ng-cloak
                     class="row">
                    <div class="col-xs-3">
                        <p>{{cnf.title}}</p>
                        <p>{{cnf.url}}</p>
                    </div>
                    <div class="col-xs-2">
                        {{cnf.date}}
                    </div>
                    <div class="col-xs-2">
                        <div ng-if="cnf.status==0">Предстоящая</div>
                        <div ng-if="cnf.status==1">Идет сейчас</div>
                        <div ng-if="cnf.status==2">Проведена</div>
                    </div>
                    <div class="col-xs-5">
                        <button ng-click="changeConferenceStatus(cnf.id, 'Process', cnf)"
                                ng-if="cnf.status==0"
                                class="btn btn-info">
                            Запустить прямо сейчас
                        </button>
                        <button ng-click="changeConferenceStatus(cnf.id, 'Finish', cnf)"
                                ng-if="cnf.status==1"
                                class="btn btn-success">
                            Завершить
                        </button>
                        <a ng-href="#/conference/item/{{cnf.id}}" class="btn btn-warning">
                            Редактировать
                        </a>
                        <button ng-click="changeConferenceStatus(cnf.id, 'Remove', cnf);"
                                class="btn btn-danger">
                            Удалить
                        </button>
                    </div>
                </div>
            </div>
            <div ng-if="ld.conferences" ng-cloak>Идет загрузка...</div>
            <div ng-show="er.server"
                 class="alert alert-danger">
                Не удалось зарузить конференции. Сервер не доступен
            </div>
            <div ng-cloak ng-if="!(model.conferences.length || er.server || ld.conferences)" class="alert alert-warning">
                Нет конференций
            </div>
        </div>
    </div>
</div>