@model PagedList.IPagedList<BLL.Blog.ViewModels.PostPreviewViewModel>
@using PagedList.Mvc;
<div class="mod">
    <div class="mod__header">
        <div class="mod__header__title">Последние Статьи</div>
        <div class="mod__header__nav">

        </div>
    </div>
    <div class="mod__content">
        <div class="articles-list">
            <div class="al__item">
                <div class="al__item__img">
                    <img src="~/Content/images/temp/example.jpg" alt="тренировка" />
                </div>
                <div class="al__item__info">
                    <div class="al__item__title">Оптимальное время тренировок</div>
                    <div class="al__item__desc">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены.</div>
                    <div class="al__item__bottom">
                        <div class="pull-left">
                            @Html.Partial("Shared/Partials/Article/Info")
                        </div>
                        <div class="pull-right">
                            <div like-dislike 
                                 count="2" 
                                 is-liked="false"
                                 is-disliked="false"
                                 type="Article"
                                 id="8"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="al__item">
                <div class="al__item__img">
                    <img src="~/Content/images/temp/example.jpg" alt="тренировка" />
                </div>
                <div class="al__item__info">
                    <div class="al__item__title">Оптимальное время тренировок</div>
                    <div class="al__item__desc">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены.</div>
                    <div class="al__item__bottom">
                        <div class="pull-left">
                            <span><i></i>gleb</span>
                            <span><i></i>10.10.14</span>
                            <span><i></i>2</span>
                        </div>
                        <div class="pull-right">
                            <span><i></i>2</span>
                            <span><i></i>4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="al__item">
                <div class="al__item__img">
                    <img src="~/Content/images/temp/example.jpg" alt="тренировка" />
                </div>
                <div class="al__item__info">
                    <div class="al__item__title">Оптимальное время тренировок</div>
                    <div class="al__item__desc">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены.</div>
                    <div class="al__item__bottom">
                        <div class="pull-left">
                            <span><i></i>gleb</span>
                            <span><i></i>10.10.14</span>
                            <span><i></i>2</span>
                        </div>
                        <div class="pull-right">
                            <span><i></i>2</span>
                            <span><i></i>4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="al__item">
                <div class="al__item__img">
                    <img src="~/Content/images/temp/example.jpg" alt="тренировка" />
                </div>
                <div class="al__item__info">
                    <div class="al__item__title">Оптимальное время тренировок</div>
                    <div class="al__item__desc">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены.</div>
                    <div class="al__item__bottom">
                        <div class="pull-left">
                            <span><i></i>gleb</span>
                            <span><i></i>10.10.14</span>
                            <span><i></i>2</span>
                        </div>
                        <div class="pull-right">
                            <span><i></i>2</span>
                            <span><i></i>4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="al__item">
                <div class="al__item__img">
                    <img src="~/Content/images/temp/example.jpg" alt="тренировка" />
                </div>
                <div class="al__item__info">
                    <div class="al__item__title">Оптимальное время тренировок</div>
                    <div class="al__item__desc">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены.</div>
                    <div class="al__item__bottom">
                        <div class="pull-left">
                            <span><i></i>gleb</span>
                            <span><i></i>10.10.14</span>
                            <span><i></i>2</span>
                        </div>
                        <div class="pull-right">
                            <span><i></i>2</span>
                            <span><i></i>4</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="al__item">
                <div class="al__item__img">
                    <img src="~/Content/images/temp/example.jpg" alt="тренировка" />
                </div>
                <div class="al__item__info">
                    <div class="al__item__title">Оптимальное время тренировок</div>
                    <div class="al__item__desc">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены.</div>
                    <div class="al__item__bottom">
                        <div class="pull-left">
                            <span><i></i>gleb</span>
                            <span><i></i>10.10.14</span>
                            <span><i></i>2</span>
                        </div>
                        <div class="pull-right">
                            <span><i></i>2</span>
                            <span><i></i>4</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>