<div class="nav nav--top">
    <div class="container">
        <div class="row">
            <a href="#" class="nav__logo">
                <img src="#" alt="Fortress" />
            </a>
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__list__link">Блог</a>
                </li>
                <li>
                    <a href="#" class="nav__list__link">Конференция</a>
                </li>
                <li>
                    <a href="#" class="nav__list__link">Соц.сеть</a>
                </li>
            </ul>
        </div>
    </div>
</div>