<div class="mod block">
    <div class="mod__header">
        <div class="mod__header__title">Рубрики</div>
    </div>
    <div class="mod__content">
        <div class="blog-menu">
            <a href="#" class="blog-menu__link">Здоровье</a>
            <a href="#" class="blog-menu__link">Мотивация</a>
            <a href="#" class="blog-menu__link">Новичку</a>
            <a href="#" class="blog-menu__link">Общее</a>
            <a href="#" class="blog-menu__link">Питание</a>
            <a href="#" class="blog-menu__link">С чего начать</a>
            <a href="#" class="blog-menu__link">Упражнения</a>
            <a href="#" class="blog-menu__link">Элементы</a>
        </div>
    </div>
</div>