<div class="likes-finger"
     ng-click="like()"
     ng-class="{ 'likes-finger--liked': likes.isLiked }">
    <div class="likes-finger__count">{{likes.count}}</div>
    <div class="likes-finger__icon"></div>
</div>