/* Buttons
---------------------------------------------------------------------------------- */

.btn {
    &--main {
        outline: none;
        background: @color-blue;
        border: 1px solid @color-blue;
        color: #fff;
        .border-radius(0);
        height: 50px;
        font-size: 1.286em;
        font-family: 'PN_regular';
        text-transform: uppercase;
        .transition(all .2s linear);
        &:focus{
            background: @color-blue;
            border: 1px solid @color-blue;
            color: #fff;
            outline: none;
        }
        &:hover,
        &:active {
            outline: none;
            background: transparent;
            color: @color-blue;
        }
        &[disabled]{
            background-color: #8d8d8d;
            border: 1px solid #8d8d8d;
        }
    }
}

/* /Buttons
---------------------------------------------------------------------------------- */
