/* Form
---------------------------------------------------------------------------------- */

.input {
    height: 50px;
    border: 1px solid @color-gray3;
    font-family: 'PN_lightIt';
    font-size: 1.286em;
    padding: 0 10px;
    &--invalid {
        border: 1px solid @color-red;
    }
}

/* /Form
---------------------------------------------------------------------------------- */
