/* Icons
---------------------------------------------------------------------------------- */

/* Article icons
-------------------------------------------------- */

.i-art {
    display: inline-block;
    background: url(../../../images/icons/sprite-article.png) no-repeat;
}

.i-art-comments { background-position: 0 0; width: 12px; height: 12px; } 
.i-art-date { background-position: -17px 0; width: 12px; height: 12px; } 
.i-art-dislike-hover { background-position: -34px 0; width: 13px; height: 13px; } 
.i-art-dislike { background-position: -52px 0; width: 13px; height: 13px; } 
.i-art-like-hover { background-position: -70px 0; width: 14px; height: 13px; } 
.i-art-like { background-position: -89px 0; width: 14px; height: 13px; } 
.i-art-user { background-position: -108px 0; width: 12px; height: 12px; } 
.i-art-liked { background-position: -124px 0; width: 15px; height: 12px; } 
.i-art-disliked { background-position: -144px 0; width: 12px; height: 12px; } 

/* /Article icons */

/* /Icons
---------------------------------------------------------------------------------- */
