/* Like rating
---------------------------------------------------------------------------------- */

.like-rating {
    color: #a7a7a7;

    .i-art {
        cursor: pointer;
        vertical-align: middle;

        &-like {
            margin-right: 5px;

            &:hover,
            &.active {
                .sprite(@like-md-hover);
            }
        }

        &-dislike {
            margin-left: 5px;

            &:hover,
            &.active {
                .sprite(@dislike-md-hover);
            }
        }
    }

    &__count {
        display: inline-block;
        vertical-align: middle;
        min-width: 15px;
        font-size: 1.2em;

        &--plus {
            color: @color-blue;
        }

        &--minus {
            color: @color-red;
        }
    }

    &__tooltip {
        display: none;
        position: absolute;
        top: 0;
        right: 30px;
        word-break: keep-all;
        white-space: nowrap;
    }

    &__rated {
        cursor: default !important;
    }
}

/* /Like rating
---------------------------------------------------------------------------------- */
