<div class="fs-modal__title">@R("Поделиться записью")</div>
<div class="fs-modal__submit">
    <social-share ss-url="http://social.fortress.club/"
                  ss-title="Title"
                  ss-text="description description description description description description "></social-share>
</div>