@using BLL.Feedbacks.Objects
@model PagedList.IPagedList<BLL.Feedbacks.Objects.FeedbackPreviewModel>
@{
    ViewBag.Title = "Fortress - Отзывы";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="container"
     ng-controller="ReviewsCtrl"
     data-reviews
     ng-cloak>
    <div class="row">
        <div class="col-xs-12">
            <div class="mod reviews block">
                <div class="mod__header">
                    <div class="mod__header__title">Отзывы</div>
                </div>
                <div class="mod__content">
                    <div class="tabs-content">
                        <div class="reviews__sort">
                            <span class="rs__text">Сортировать по:</span>
                            <ul class="rs__links">
                                <li class="rs__links__it">
                                    <a href="@Url.Action("Index", "Reviews", new { sort = FeedbackSortType.Rating })" class="btn btn--st1@(ViewBag.Sort == FeedbackSortType.Rating ? " rs-active" : "")">
                                        <span class="rs__icon rs__icon--voite"></span>
                                        Голосам
                                    </a>
                                </li>
                                <li class="rs__links__it">
                                    <a href="@Url.Action("Index", "Reviews", new { sort = FeedbackSortType.Date })" class="btn btn--st1@(ViewBag.Sort == FeedbackSortType.Date ? " rs-active" : "")">
                                        <span class="rs__icon rs__icon--date"></span>
                                        Дате
                                    </a>
                                </li>
                                <li class="rs__links__it">
                                    <a href="@Url.Action("Index", "Reviews", new { sort = FeedbackSortType.Comments })" class="btn btn--st1@(ViewBag.Sort == FeedbackSortType.Comments ? " rs-active" : "")">
                                        <span class="rs__icon rs__icon--comments"></span>
                                        Комментариям
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <form class="reviews__form"
                              ng-class="{ 'reviews__form--active': m.text.length,
                              'reviews__form--valid': m.text.length >= minlength}"
                              ng-submit="createReview(m)">
                            <div class="row">
                                <div class="col-sm-5 col-md-4 col-lg-3">
                                    <div class="rf__type-wrap">
                                        <span class="rf__type__text">Я хочу</span>
                                        <select ng-model="m.type"
                                                ng-options="item.id as item.name for item in types"
                                                class="rf__type__select"></select>
                                        <div class="rf__min">Напишите ещё хотя бы {{ minlength-m.text.length | formatWord:['символ', 'символа', 'символов']:true}}</div>
                                    </div>
                                    <button ng-disabled="m.text.length < minlength"
                                            type="submit" class="btn btn--main">
                                        Отправить
                                    </button>
                                </div>
                                <div class="col-sm-7 col-md-8 col-lg-9">
                                    <textarea ng-model="m.text"
                                              class="rf__text" placeholder="Введите текст..."></textarea>
                                </div>
                            </div>
                        </form>
                        <ul class="reviews__list">
                            @foreach (var item in Model)
                            {
                                @Html.Partial("Shared/Partials/Review", item);
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
