/* Admin
---------------------------------------------------------------------------------- */

.static-layout-app > div {
    height: 100%;
}

.cp {
    background: url(../../images/blur.jpg) no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;

    &__sidebar-left {
        color: #fff;
        height: 100%;
        width: 200px;
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0, .4);
    }

    &__content {
        margin-left: 230px;
        padding: 20px;

        .cp-block {
            background: rgba(0,0,0, .4);
            padding: 15px;
            margin-bottom: 10px;

            h1,
            h2 {
                color: #fff;
            }
        }
    }

    &__sb {
        &__header {
            padding: 15px;
        }

        &__user {
            margin-top: 20px;
            .no-float;
            position: relative;
            width: 100%;

            &__avatar {
                background: rgba(0,0,0, .5);
                padding: 4px;
                float: right;
                position: relative;
                right: -20px;
                width: 130px;
                height: 130px;
                .border-radius(50%);
                border: 2px solid #fff;
            }
        }

        &__menu {
            margin-top: 20px;

            &__it {
                color: #fff;
                display: block;
                padding: 10px 15px;
                .box-sizing;
                font-size: 1.126em;

                &:hover {
                    text-decoration: none;

                    .cp__sb__menu__title {
                        color: #ccc;
                        text-decoration: none;
                        border-right: 10px solid @color-blue;
                    }

                    .cp__sb__submenu {
                        padding-left: 20px;
                        height: auto;

                        a {
                            display: block;
                        }
                    }
                }
            }

            &__title {
                display: block;
                text-decoration: none;
            }
        }

        &__submenu {
            height: 0;
            overflow: hidden;
        }
    }

    &-articles {
        &__header {
        }

        &__content {
            color: #fff;

            table {
                thead {
                    font-size: 1.486em;
                }

                tbody {
                    td {
                        width: 25%;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    &-conference {
        &__label {
            font-size: 1.426em;
            line-height: 50px;
            color: #fff;
        }

        &__new {
            .row {
                margin-bottom: 20px;
            }

            textarea {
                max-width: 100%;
                min-height: 200px;
            }
        }
    }
}
/* /Admin
---------------------------------------------------------------------------------- */
