/* Blog
---------------------------------------------------------------------------------- */

body {
    opacity: 1 !important;
    transition: opacity 300ms linear;
}

.blog-wrap {
    background: @color-blog-bg;
    padding-top: 70px;
}

.blog-wrap,
.blog__inner {
    min-height: 100%;
}

.blog__inner {
    padding-bottom: 70px;
    margin: 20px 0 -70px 0;
}

.blog__content {
    &__top {

    }
    &__middle {
        .video-row {
            margin: 40px 0;
        }
    }
    &__bottom {

    }
}

/* Blog form
-------------------------------------------------- */



.blog-form {

    input,
    select,
    textarea {
        font-size: 1.286em;
    }

    .row {
        margin-bottom: 20px;
    }

    &__desc {
        line-height: 50px;
        font-size: 1.286em;
    }

    &__line-height {
        line-height: 50px;
    }
}

/* /Blog form */




/* /Blog
---------------------------------------------------------------------------------- */