/* Payment
---------------------------------------------------------------------------------- */

.noUi-connect {
    background: #0095ff;
}

.payment {
    .slider-wrap {
        margin: 55px auto 40px auto;
    }

    .slider__desc {
        background: #26282a;
        padding: 10px;
        margin-top: 70px;
        color: #fff;
        & > div {
            .no-float;
        }
    }
    .payment__submit {
        margin-top: 40px;
    }
    .clps {
        @media (min-width: @screen-xs-max) { 
            width: 70%;
            margin: 0 auto;
        }
    }
}

.payment__video {
    margin: 0 auto;
    display: block;
}

.payment__video__desc {
    margin-top: 20px;
    font-weight: 600;
}

.slider-wrap {
    position: relative;
    .noUi-handle {
        cursor: pointer;
    }
}

slider {
    display: block;
    position: relative;
    height: 30px;
    width: 100%;
}

.slider__tooltip {
    position: absolute;
    top: -35px;
    width: 100px;
    left: -31px;
    background: #26282a;
    color: #fff;
    text-align: center;
    padding: 2px 0;
    .no-float;

    &:after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: #26282a transparent transparent transparent;
    }
}

.slider__tooltip--once {
    .slider__new {
        float: none !important;
    }
}

.slider__old {
    width: 50%;
    float: left;
    color: #a0a0a0;
    text-decoration: line-through;
}

.slider__new {
    float: right;
    width: 50%;
}

.payment__negative-submit {
    margin-top: 20px;
}

.payment__agree {
    margin-top: 15px;
}

.bonus {

}

.bonus__text {
    float: left;
    width: 60%;
    margin-right: 5%;
    b {
        font-size: 18px;
    }
}
.bonus__img {
    float: left;
    width: 35%;
    img {
        max-width: 100%;
    }
}

/* /Payment
---------------------------------------------------------------------------------- */
