@model string
@*Добавить/изменить аватар*@
<div class="separate">
    <div class="separate__header">
        Изменить аватар
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Текущий аватар</div>
            <img src="@Model?height=100"/>
        </div>
        <div class="col-sm-5"
             avatar-upload>
            <div>
                <button ng-click="changeAvatar()" type="button" class="btn btn-default btn-sm article__edit__upload-btn">Загрузить фото</button>
            </div>
            <input type="file" name="UploaderHelper" class="hide js-img-input">
            <div class="settings__avatar-wrap">
                <img ng-src="{{avatar.url}}" class="settings__avatar" />
                <span ng-show="avatar.url.length" ng-click="removeAvatar()" class="link">Удалить</span>
            </div>
            <div ng-show="errors.client" class="alert alert-danger">
                Минимальный размер изображения 200x200.<br>
                Максимальный размер файла 10 мб.<br>
            </div>
            <div ng-show="errors.server" class="alert alert-danger">
                Произошла ошибка на сервере, попробуйте ещё раз.
            </div>
        </div>
    </div>
    <div class="text-right">
        <button ng-disabled="!avatar.url.length" class="btn btn--main btn--xs">Сохранить изменения</button>
    </div>
</div>
