@*Добавить/изменить аватар*@
<div class="separate">
    <div class="separate__header">
        Изменить аватар
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Текущий аватар</div>
        </div>
        <div class="col-sm-5">
            аватарка
        </div>
    </div>
    <div class="text-right">
        <button class="btn btn--main btn--xs">Сохранить изменения</button>
    </div>
</div>
