@*Новый пароль*@
<form ng-submit="password.fn.changePassword(psw)"
      class="separate" name="passwordForm">
    <div class="separate__header">
        Изменить пароль
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Старый пароль</div>
        </div>
        <div class="col-sm-5">
            <input ng-model="psw.old"
                   ng-class="{'input--invalid': passwordForm.oldPassword.$error.required && validstart.old}"
                   ng-blur="validstart.old=true"
                   name="oldPassword"
                   required
                   class="input" type="password" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Новый пароль</div>
        </div>
        <div class="col-sm-5">
            <input ng-model="psw.new"
                   ng-class="{'input--invalid': passwordForm.newPassword.$error.required && validstart.new}"
                   ng-blur="validstart.new=true"
                   name="newPassword"
                   required
                   class="input" type="password" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="blog-form__desc">Повторите пароль</div>
        </div>
        <div class="col-sm-5">
            <input ng-model="psw.confirmNew"
                   ng-class="{'input--invalid': passwordForm.confirmNewPassword.$error.required && validstart.confirmNew}"
                   ng-blur="validstart.confirmNew=true; validstart.passwords=true;"
                   name="confirmNewPassword"
                   required
                   class="input" type="password" />
        </div>
    </div>
    <div class="text-right">
        <button ng-disabled="passwordForm.$invalid || psw.new != psw.confirmNew"
                type="submit" class="btn btn--main btn--xs">
            Сохранить изменения
        </button>
    </div>
    <div ng-cloak>
        <div ng-if="psw.new != psw.confirmNew && validstart.passwords"
             class="alert alert-warning">Пароли не совпадают</div>
        <div ng-if="password.er.s404"
             class="alert alert-danger">Сервер недоступен</div>
        <div ng-if="password.er.server.length"
             class="alert alert-warning">{{password.er.server}}</div>
    </div>
</form>
