<div class="nav nav--middle">
    <div class="container">
        <div class="row">
            <ul class="nav__list">
                <li class="active">
                    <a href="#" class="nav__list__link">Все новости</a>
                    <div class="nav__list__line"></div>
                </li>
                <li>
                    <a href="#" class="nav__list__link">Лучшие новости</a>
                    <div class="nav__list__line"></div>
                </li>
                <li>
                    <a href="#" class="nav__list__link">Fortress</a>
                    <div class="nav__list__line"></div>
                </li>
                @*<li>
                    <a href="#" class="nav__list__link">Видео</a>
                    <div class="nav__list__line"></div>
                </li>
                <li>
                    <a href="#" class="nav__list__link">Фотогалерея</a>
                    <div class="nav__list__line"></div>
                </li>*@
            </ul>
            @*<div class="nav__search">
                <input class="nav__search__input" type="text" placeholder="Поиск" />
            </div>*@
        </div>
    </div>
</div>