@model List<DAL.DomainModel.Rubric>
<div class="mod block">
    <div class="mod__header">
        <div class="mod__header__title">Рубрики</div>
    </div>
    <div class="mod__content">
        <div class="blog-menu">
            @foreach (var r in Model)
            {
                <a href="@Url.Action("Index", "Blog", new {rubric = r.Id})" class="blog-menu__link">@r.Name</a>
            }
        </div>
    </div>
</div>