<div bg-slider="['/content/images/promo/1.jpg', '/content/images/promo/2.jpg']"
     class="promo">
    <div class="promo__line">
        <span class="icon icon-logo">
            <img src="~/Content/images/icons/logo-shape.png" />
        </span>
        <h1 class="promo__title">Fortress</h1>
        <p class="promo__desc">Лучший блог о культуре спорта</p>
    </div>
</div>