@model BLL.Blog.ViewModels.BlogPostViewModel
<div class="blog-user">
    <div class="blog-user__info">
        <div class="blog-user__photo">
            <img src="@Model.AuthorAvatar?width=80&height=80&mode=crop" alt="@Model.AuthorName" />
        </div>
        <div class="blog-user__name">
            <div class="blog-user__name__type">Автор</div>
            @Model.AuthorName
            @*Петров<br />
            Константин*@
        </div>
    </div>
    @*<div class="blog-user__actions">
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
    </div>*@
</div>