<div class="blog-user">
    <div class="blog-user__info">
        <div class="blog-user__photo">
            <img src="~/Content/images/temp/user.jpg" alt="Петров Константин" />
        </div>
        <div class="blog-user__name">
            <div class="blog-user__name__type">Автор</div>
            Петров<br />
            Константин
        </div>
    </div>
    @*<div class="blog-user__actions">
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
        <a href="#" class="blog-user__action"></a>
    </div>*@
</div>