/* Core styles html,body, etc.
---------------------------------------------------------------------------------- */

html {
    background-color: @text-color;
    height: 100%;
    &.full-height {
        height: 100%;

        body,
        .global-loader-container,
        .ui-content {
            height: 100%;
        }
    }

    .global-loader-container {
        overflow: hidden;
    }
}

html,
body {
    font-family: 'F1 Regular';
    overflow-x: hidden;
}

body {
    opacity: 0;
    transition: opacity 200ms linear;
    &.modal-open {
        height: 100%;
    }
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

/* /Core styles html,body, etc.
---------------------------------------------------------------------------------- */
