/* Custom variables based on bootstrap & override them
---------------------------------------------------------------------------------- */


//== Colors
//
// was
@brand-red:             #c13b32;
@brand-red-light:       #e64338;
@brand-gray:            #ebebeb;
@brand-dark:            #20232a;


// added
@brand-green:           #1fba2a;

//== Scaffolding
//
//** Global text color on `<body>`.
@text-color:            #1f282e;

//** Global textual link color.
@link-color:            #1f7eba;
@link-hover-color:      @text-color;

//@border-radius-base:        2px;
//== Typography
//
@font-size-base:        14px;

@grid-float-breakpoint:     @screen-md-min;


/* /Custom variables based on bootstrap & override them
---------------------------------------------------------------------------------- */