/* Custom variables based on bootstrap & override them
---------------------------------------------------------------------------------- */


//== Colors
//
@brand-red:             #c13b32;
@brand-red-light:       #e64338;
@brand-gray:            #ebebeb;
@brand-dark:            #20232a;

//== Scaffolding
//
//** Global text color on `<body>`.
@text-color:            #66728d;

//** Global textual link color.
//@link-color:            @brand-dark;

//@border-radius-base:        2px;
//== Typography
//
@font-size-base:        14px;

@grid-float-breakpoint:     @screen-md-min;


/* /Custom variables based on bootstrap & override them
---------------------------------------------------------------------------------- */