/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@ach-status-credit-name: 'ach-status-credit';
@ach-status-credit-x: 346px;
@ach-status-credit-y: 98px;
@ach-status-credit-offset-x: -346px;
@ach-status-credit-offset-y: -98px;
@ach-status-credit-width: 15px;
@ach-status-credit-height: 12px;
@ach-status-credit-total-width: 361px;
@ach-status-credit-total-height: 314px;
@ach-status-credit-image: '../../images/icons-set/icons-set.png';
@ach-status-credit: 346px 98px -346px -98px 15px 12px 361px 314px '../../images/icons-set/icons-set.png' 'ach-status-credit';
@ach-status-fail-name: 'ach-status-fail';
@ach-status-fail-x: 346px;
@ach-status-fail-y: 188px;
@ach-status-fail-offset-x: -346px;
@ach-status-fail-offset-y: -188px;
@ach-status-fail-width: 12px;
@ach-status-fail-height: 12px;
@ach-status-fail-total-width: 361px;
@ach-status-fail-total-height: 314px;
@ach-status-fail-image: '../../images/icons-set/icons-set.png';
@ach-status-fail: 346px 188px -346px -188px 12px 12px 361px 314px '../../images/icons-set/icons-set.png' 'ach-status-fail';
@arr-down-name: 'arr-down';
@arr-down-x: 0px;
@arr-down-y: 182px;
@arr-down-offset-x: 0px;
@arr-down-offset-y: -182px;
@arr-down-width: 39px;
@arr-down-height: 39px;
@arr-down-total-width: 361px;
@arr-down-total-height: 314px;
@arr-down-image: '../../images/icons-set/icons-set.png';
@arr-down: 0px 182px 0px -182px 39px 39px 361px 314px '../../images/icons-set/icons-set.png' 'arr-down';
@arr-top-name: 'arr-top';
@arr-top-x: 49px;
@arr-top-y: 182px;
@arr-top-offset-x: -49px;
@arr-top-offset-y: -182px;
@arr-top-width: 39px;
@arr-top-height: 39px;
@arr-top-total-width: 361px;
@arr-top-total-height: 314px;
@arr-top-image: '../../images/icons-set/icons-set.png';
@arr-top: 49px 182px -49px -182px 39px 39px 361px 314px '../../images/icons-set/icons-set.png' 'arr-top';
@avatar-change-xs-name: 'avatar-change-xs';
@avatar-change-xs-x: 346px;
@avatar-change-xs-y: 210px;
@avatar-change-xs-offset-x: -346px;
@avatar-change-xs-offset-y: -210px;
@avatar-change-xs-width: 13px;
@avatar-change-xs-height: 11px;
@avatar-change-xs-total-width: 361px;
@avatar-change-xs-total-height: 314px;
@avatar-change-xs-image: '../../images/icons-set/icons-set.png';
@avatar-change-xs: 346px 210px -346px -210px 13px 11px 361px 314px '../../images/icons-set/icons-set.png' 'avatar-change-xs';
@avatar-remove-xs-name: 'avatar-remove-xs';
@avatar-remove-xs-x: 346px;
@avatar-remove-xs-y: 231px;
@avatar-remove-xs-offset-x: -346px;
@avatar-remove-xs-offset-y: -231px;
@avatar-remove-xs-width: 11px;
@avatar-remove-xs-height: 13px;
@avatar-remove-xs-total-width: 361px;
@avatar-remove-xs-total-height: 314px;
@avatar-remove-xs-image: '../../images/icons-set/icons-set.png';
@avatar-remove-xs: 346px 231px -346px -231px 11px 13px 361px 314px '../../images/icons-set/icons-set.png' 'avatar-remove-xs';
@cart-small-name: 'cart-small';
@cart-small-x: 346px;
@cart-small-y: 297px;
@cart-small-offset-x: -346px;
@cart-small-offset-y: -297px;
@cart-small-width: 10px;
@cart-small-height: 12px;
@cart-small-total-width: 361px;
@cart-small-total-height: 314px;
@cart-small-image: '../../images/icons-set/icons-set.png';
@cart-small: 346px 297px -346px -297px 10px 12px 361px 314px '../../images/icons-set/icons-set.png' 'cart-small';
@close-media-row-name: 'close-media-row';
@close-media-row-x: 91px;
@close-media-row-y: 265px;
@close-media-row-offset-x: -91px;
@close-media-row-offset-y: -265px;
@close-media-row-width: 21px;
@close-media-row-height: 21px;
@close-media-row-total-width: 361px;
@close-media-row-total-height: 314px;
@close-media-row-image: '../../images/icons-set/icons-set.png';
@close-media-row: 91px 265px -91px -265px 21px 21px 361px 314px '../../images/icons-set/icons-set.png' 'close-media-row';
@close-modal-name: 'close-modal';
@close-modal-x: 122px;
@close-modal-y: 265px;
@close-modal-offset-x: -122px;
@close-modal-offset-y: -265px;
@close-modal-width: 21px;
@close-modal-height: 21px;
@close-modal-total-width: 361px;
@close-modal-total-height: 314px;
@close-modal-image: '../../images/icons-set/icons-set.png';
@close-modal: 122px 265px -122px -265px 21px 21px 361px 314px '../../images/icons-set/icons-set.png' 'close-modal';
@close-tag-name: 'close-tag';
@close-tag-x: 346px;
@close-tag-y: 254px;
@close-tag-offset-x: -346px;
@close-tag-offset-y: -254px;
@close-tag-width: 11px;
@close-tag-height: 11px;
@close-tag-total-width: 361px;
@close-tag-total-height: 314px;
@close-tag-image: '../../images/icons-set/icons-set.png';
@close-tag: 346px 254px -346px -254px 11px 11px 361px 314px '../../images/icons-set/icons-set.png' 'close-tag';
@comment-sm-hover-name: 'comment-sm-hover';
@comment-sm-hover-x: 189px;
@comment-sm-hover-y: 231px;
@comment-sm-hover-offset-x: -189px;
@comment-sm-hover-offset-y: -231px;
@comment-sm-hover-width: 19px;
@comment-sm-hover-height: 20px;
@comment-sm-hover-total-width: 361px;
@comment-sm-hover-total-height: 314px;
@comment-sm-hover-image: '../../images/icons-set/icons-set.png';
@comment-sm-hover: 189px 231px -189px -231px 19px 20px 361px 314px '../../images/icons-set/icons-set.png' 'comment-sm-hover';
@comment-sm-name: 'comment-sm';
@comment-sm-x: 218px;
@comment-sm-y: 231px;
@comment-sm-offset-x: -218px;
@comment-sm-offset-y: -231px;
@comment-sm-width: 18px;
@comment-sm-height: 20px;
@comment-sm-total-width: 361px;
@comment-sm-total-height: 314px;
@comment-sm-image: '../../images/icons-set/icons-set.png';
@comment-sm: 218px 231px -218px -231px 18px 20px 361px 314px '../../images/icons-set/icons-set.png' 'comment-sm';
@edit-sm-hover-name: 'edit-sm-hover';
@edit-sm-hover-x: 153px;
@edit-sm-hover-y: 265px;
@edit-sm-hover-offset-x: -153px;
@edit-sm-hover-offset-y: -265px;
@edit-sm-hover-width: 21px;
@edit-sm-hover-height: 21px;
@edit-sm-hover-total-width: 361px;
@edit-sm-hover-total-height: 314px;
@edit-sm-hover-image: '../../images/icons-set/icons-set.png';
@edit-sm-hover: 153px 265px -153px -265px 21px 21px 361px 314px '../../images/icons-set/icons-set.png' 'edit-sm-hover';
@edit-sm-name: 'edit-sm';
@edit-sm-x: 60px;
@edit-sm-y: 265px;
@edit-sm-offset-x: -60px;
@edit-sm-offset-y: -265px;
@edit-sm-width: 21px;
@edit-sm-height: 21px;
@edit-sm-total-width: 361px;
@edit-sm-total-height: 314px;
@edit-sm-image: '../../images/icons-set/icons-set.png';
@edit-sm: 60px 265px -60px -265px 21px 21px 361px 314px '../../images/icons-set/icons-set.png' 'edit-sm';
@journal-mid-name: 'journal-mid';
@journal-mid-x: 290px;
@journal-mid-y: 182px;
@journal-mid-offset-x: -290px;
@journal-mid-offset-y: -182px;
@journal-mid-width: 25px;
@journal-mid-height: 30px;
@journal-mid-total-width: 361px;
@journal-mid-total-height: 314px;
@journal-mid-image: '../../images/icons-set/icons-set.png';
@journal-mid: 290px 182px -290px -182px 25px 30px 361px 314px '../../images/icons-set/icons-set.png' 'journal-mid';
@like-finger-active-name: 'like-finger-active';
@like-finger-active-x: 244px;
@like-finger-active-y: 265px;
@like-finger-active-offset-x: -244px;
@like-finger-active-offset-y: -265px;
@like-finger-active-width: 20px;
@like-finger-active-height: 16px;
@like-finger-active-total-width: 361px;
@like-finger-active-total-height: 314px;
@like-finger-active-image: '../../images/icons-set/icons-set.png';
@like-finger-active: 244px 265px -244px -265px 20px 16px 361px 314px '../../images/icons-set/icons-set.png' 'like-finger-active';
@like-finger-name: 'like-finger';
@like-finger-x: 214px;
@like-finger-y: 265px;
@like-finger-offset-x: -214px;
@like-finger-offset-y: -265px;
@like-finger-width: 20px;
@like-finger-height: 16px;
@like-finger-total-width: 361px;
@like-finger-total-height: 314px;
@like-finger-image: '../../images/icons-set/icons-set.png';
@like-finger: 214px 265px -214px -265px 20px 16px 361px 314px '../../images/icons-set/icons-set.png' 'like-finger';
@like-sm-name: 'like-sm';
@like-sm-x: 184px;
@like-sm-y: 265px;
@like-sm-offset-x: -184px;
@like-sm-offset-y: -265px;
@like-sm-width: 20px;
@like-sm-height: 16px;
@like-sm-total-width: 361px;
@like-sm-total-height: 314px;
@like-sm-image: '../../images/icons-set/icons-set.png';
@like-sm: 184px 265px -184px -265px 20px 16px 361px 314px '../../images/icons-set/icons-set.png' 'like-sm';
@logo-big-name: 'logo-big';
@logo-big-x: 102px;
@logo-big-y: 81px;
@logo-big-offset-x: -102px;
@logo-big-offset-y: -81px;
@logo-big-width: 70px;
@logo-big-height: 74px;
@logo-big-total-width: 361px;
@logo-big-total-height: 314px;
@logo-big-image: '../../images/icons-set/icons-set.png';
@logo-big: 102px 81px -102px -81px 70px 74px 361px 314px '../../images/icons-set/icons-set.png' 'logo-big';
@logo-name: 'logo';
@logo-x: 196px;
@logo-y: 0px;
@logo-offset-x: -196px;
@logo-offset-y: 0px;
@logo-width: 140px;
@logo-height: 28px;
@logo-total-width: 361px;
@logo-total-height: 314px;
@logo-image: '../../images/icons-set/icons-set.png';
@logo: 196px 0px -196px 0px 140px 28px 361px 314px '../../images/icons-set/icons-set.png' 'logo';
@media-play-name: 'media-play';
@media-play-x: 274px;
@media-play-y: 231px;
@media-play-offset-x: -274px;
@media-play-offset-y: -231px;
@media-play-width: 18px;
@media-play-height: 18px;
@media-play-total-width: 361px;
@media-play-total-height: 314px;
@media-play-image: '../../images/icons-set/icons-set.png';
@media-play: 274px 231px -274px -231px 18px 18px 361px 314px '../../images/icons-set/icons-set.png' 'media-play';
@media-remove-name: 'media-remove';
@media-remove-x: 102px;
@media-remove-y: 165px;
@media-remove-offset-x: -102px;
@media-remove-offset-y: -165px;
@media-remove-width: 6px;
@media-remove-height: 6px;
@media-remove-total-width: 361px;
@media-remove-total-height: 314px;
@media-remove-image: '../../images/icons-set/icons-set.png';
@media-remove: 102px 165px -102px -165px 6px 6px 361px 314px '../../images/icons-set/icons-set.png' 'media-remove';
@notice-small-name: 'notice-small';
@notice-small-x: 320px;
@notice-small-y: 108px;
@notice-small-offset-x: -320px;
@notice-small-offset-y: -108px;
@notice-small-width: 16px;
@notice-small-height: 16px;
@notice-small-total-width: 361px;
@notice-small-total-height: 314px;
@notice-small-image: '../../images/icons-set/icons-set.png';
@notice-small: 320px 108px -320px -108px 16px 16px 361px 314px '../../images/icons-set/icons-set.png' 'notice-small';
@ok-xs-name: 'ok-xs';
@ok-xs-x: 26px;
@ok-xs-y: 298px;
@ok-xs-offset-x: -26px;
@ok-xs-offset-y: -298px;
@ok-xs-width: 17px;
@ok-xs-height: 14px;
@ok-xs-total-width: 361px;
@ok-xs-total-height: 314px;
@ok-xs-image: '../../images/icons-set/icons-set.png';
@ok-xs: 26px 298px -26px -298px 17px 14px 361px 314px '../../images/icons-set/icons-set.png' 'ok-xs';
@photo-blue-xs-name: 'photo-blue-xs';
@photo-blue-xs-x: 274px;
@photo-blue-xs-y: 265px;
@photo-blue-xs-offset-x: -274px;
@photo-blue-xs-offset-y: -265px;
@photo-blue-xs-width: 18px;
@photo-blue-xs-height: 15px;
@photo-blue-xs-total-width: 361px;
@photo-blue-xs-total-height: 314px;
@photo-blue-xs-image: '../../images/icons-set/icons-set.png';
@photo-blue-xs: 274px 265px -274px -265px 18px 15px 361px 314px '../../images/icons-set/icons-set.png' 'photo-blue-xs';
@photo-upload-medium-name: 'photo-upload-medium';
@photo-upload-medium-x: 0px;
@photo-upload-medium-y: 0px;
@photo-upload-medium-offset-x: 0px;
@photo-upload-medium-offset-y: 0px;
@photo-upload-medium-width: 92px;
@photo-upload-medium-height: 80px;
@photo-upload-medium-total-width: 361px;
@photo-upload-medium-total-height: 314px;
@photo-upload-medium-image: '../../images/icons-set/icons-set.png';
@photo-upload-medium: 0px 0px 0px 0px 92px 80px 361px 314px '../../images/icons-set/icons-set.png' 'photo-upload-medium';
@play-hover-name: 'play-hover';
@play-hover-x: 266px;
@play-hover-y: 38px;
@play-hover-offset-x: -266px;
@play-hover-offset-y: -38px;
@play-hover-width: 60px;
@play-hover-height: 60px;
@play-hover-total-width: 361px;
@play-hover-total-height: 314px;
@play-hover-image: '../../images/icons-set/icons-set.png';
@play-hover: 266px 38px -266px -38px 60px 60px 361px 314px '../../images/icons-set/icons-set.png' 'play-hover';
@play-xs-name: 'play-xs';
@play-xs-x: 0px;
@play-xs-y: 231px;
@play-xs-offset-x: 0px;
@play-xs-offset-y: -231px;
@play-xs-width: 24px;
@play-xs-height: 24px;
@play-xs-total-width: 361px;
@play-xs-total-height: 314px;
@play-xs-image: '../../images/icons-set/icons-set.png';
@play-xs: 0px 231px 0px -231px 24px 24px 361px 314px '../../images/icons-set/icons-set.png' 'play-xs';
@play-name: 'play';
@play-x: 196px;
@play-y: 38px;
@play-offset-x: -196px;
@play-offset-y: -38px;
@play-width: 60px;
@play-height: 60px;
@play-total-width: 361px;
@play-total-height: 314px;
@play-image: '../../images/icons-set/icons-set.png';
@play: 196px 38px -196px -38px 60px 60px 361px 314px '../../images/icons-set/icons-set.png' 'play';
@question-small-name: 'question-small';
@question-small-x: 346px;
@question-small-y: 166px;
@question-small-offset-x: -346px;
@question-small-offset-y: -166px;
@question-small-width: 12px;
@question-small-height: 12px;
@question-small-total-width: 361px;
@question-small-total-height: 314px;
@question-small-image: '../../images/icons-set/icons-set.png';
@question-small: 346px 166px -346px -166px 12px 12px 361px 314px '../../images/icons-set/icons-set.png' 'question-small';
@registration-avatar-upload-name: 'registration-avatar-upload';
@registration-avatar-upload-x: 0px;
@registration-avatar-upload-y: 90px;
@registration-avatar-upload-offset-x: 0px;
@registration-avatar-upload-offset-y: -90px;
@registration-avatar-upload-width: 84px;
@registration-avatar-upload-height: 82px;
@registration-avatar-upload-total-width: 361px;
@registration-avatar-upload-total-height: 314px;
@registration-avatar-upload-image: '../../images/icons-set/icons-set.png';
@registration-avatar-upload: 0px 90px 0px -90px 84px 82px 361px 314px '../../images/icons-set/icons-set.png' 'registration-avatar-upload';
@remove-sm-hover-name: 'remove-sm-hover';
@remove-sm-hover-x: 30px;
@remove-sm-hover-y: 265px;
@remove-sm-hover-offset-x: -30px;
@remove-sm-hover-offset-y: -265px;
@remove-sm-hover-width: 20px;
@remove-sm-hover-height: 23px;
@remove-sm-hover-total-width: 361px;
@remove-sm-hover-total-height: 314px;
@remove-sm-hover-image: '../../images/icons-set/icons-set.png';
@remove-sm-hover: 30px 265px -30px -265px 20px 23px 361px 314px '../../images/icons-set/icons-set.png' 'remove-sm-hover';
@remove-sm-name: 'remove-sm';
@remove-sm-x: 0px;
@remove-sm-y: 265px;
@remove-sm-offset-x: 0px;
@remove-sm-offset-y: -265px;
@remove-sm-width: 20px;
@remove-sm-height: 23px;
@remove-sm-total-width: 361px;
@remove-sm-total-height: 314px;
@remove-sm-image: '../../images/icons-set/icons-set.png';
@remove-sm: 0px 265px 0px -265px 20px 23px 361px 314px '../../images/icons-set/icons-set.png' 'remove-sm';
@share-sm-hover-name: 'share-sm-hover';
@share-sm-hover-x: 320px;
@share-sm-hover-y: 134px;
@share-sm-hover-offset-x: -320px;
@share-sm-hover-offset-y: -134px;
@share-sm-hover-width: 16px;
@share-sm-hover-height: 16px;
@share-sm-hover-total-width: 361px;
@share-sm-hover-total-height: 314px;
@share-sm-hover-image: '../../images/icons-set/icons-set.png';
@share-sm-hover: 320px 134px -320px -134px 16px 16px 361px 314px '../../images/icons-set/icons-set.png' 'share-sm-hover';
@share-sm-name: 'share-sm';
@share-sm-x: 0px;
@share-sm-y: 298px;
@share-sm-offset-x: 0px;
@share-sm-offset-y: -298px;
@share-sm-width: 16px;
@share-sm-height: 16px;
@share-sm-total-width: 361px;
@share-sm-total-height: 314px;
@share-sm-image: '../../images/icons-set/icons-set.png';
@share-sm: 0px 298px 0px -298px 16px 16px 361px 314px '../../images/icons-set/icons-set.png' 'share-sm';
@soc-fb-lg-name: 'soc-fb-lg';
@soc-fb-lg-x: 194px;
@soc-fb-lg-y: 182px;
@soc-fb-lg-offset-x: -194px;
@soc-fb-lg-offset-y: -182px;
@soc-fb-lg-width: 38px;
@soc-fb-lg-height: 38px;
@soc-fb-lg-total-width: 361px;
@soc-fb-lg-total-height: 314px;
@soc-fb-lg-image: '../../images/icons-set/icons-set.png';
@soc-fb-lg: 194px 182px -194px -182px 38px 38px 361px 314px '../../images/icons-set/icons-set.png' 'soc-fb-lg';
@soc-fb-name: 'soc-fb';
@soc-fb-x: 69px;
@soc-fb-y: 231px;
@soc-fb-offset-x: -69px;
@soc-fb-offset-y: -231px;
@soc-fb-width: 20px;
@soc-fb-height: 20px;
@soc-fb-total-width: 361px;
@soc-fb-total-height: 314px;
@soc-fb-image: '../../images/icons-set/icons-set.png';
@soc-fb: 69px 231px -69px -231px 20px 20px 361px 314px '../../images/icons-set/icons-set.png' 'soc-fb';
@soc-gp-lg-name: 'soc-gp-lg';
@soc-gp-lg-x: 146px;
@soc-gp-lg-y: 182px;
@soc-gp-lg-offset-x: -146px;
@soc-gp-lg-offset-y: -182px;
@soc-gp-lg-width: 38px;
@soc-gp-lg-height: 38px;
@soc-gp-lg-total-width: 361px;
@soc-gp-lg-total-height: 314px;
@soc-gp-lg-image: '../../images/icons-set/icons-set.png';
@soc-gp-lg: 146px 182px -146px -182px 38px 38px 361px 314px '../../images/icons-set/icons-set.png' 'soc-gp-lg';
@soc-gp-name: 'soc-gp';
@soc-gp-x: 99px;
@soc-gp-y: 231px;
@soc-gp-offset-x: -99px;
@soc-gp-offset-y: -231px;
@soc-gp-width: 20px;
@soc-gp-height: 20px;
@soc-gp-total-width: 361px;
@soc-gp-total-height: 314px;
@soc-gp-image: '../../images/icons-set/icons-set.png';
@soc-gp: 99px 231px -99px -231px 20px 20px 361px 314px '../../images/icons-set/icons-set.png' 'soc-gp';
@soc-tw-lg-name: 'soc-tw-lg';
@soc-tw-lg-x: 242px;
@soc-tw-lg-y: 182px;
@soc-tw-lg-offset-x: -242px;
@soc-tw-lg-offset-y: -182px;
@soc-tw-lg-width: 38px;
@soc-tw-lg-height: 38px;
@soc-tw-lg-total-width: 361px;
@soc-tw-lg-total-height: 314px;
@soc-tw-lg-image: '../../images/icons-set/icons-set.png';
@soc-tw-lg: 242px 182px -242px -182px 38px 38px 361px 314px '../../images/icons-set/icons-set.png' 'soc-tw-lg';
@soc-tw-name: 'soc-tw';
@soc-tw-x: 159px;
@soc-tw-y: 231px;
@soc-tw-offset-x: -159px;
@soc-tw-offset-y: -231px;
@soc-tw-width: 20px;
@soc-tw-height: 20px;
@soc-tw-total-width: 361px;
@soc-tw-total-height: 314px;
@soc-tw-image: '../../images/icons-set/icons-set.png';
@soc-tw: 159px 231px -159px -231px 20px 20px 361px 314px '../../images/icons-set/icons-set.png' 'soc-tw';
@soc-vk-lg-name: 'soc-vk-lg';
@soc-vk-lg-x: 98px;
@soc-vk-lg-y: 182px;
@soc-vk-lg-offset-x: -98px;
@soc-vk-lg-offset-y: -182px;
@soc-vk-lg-width: 38px;
@soc-vk-lg-height: 38px;
@soc-vk-lg-total-width: 361px;
@soc-vk-lg-total-height: 314px;
@soc-vk-lg-image: '../../images/icons-set/icons-set.png';
@soc-vk-lg: 98px 182px -98px -182px 38px 38px 361px 314px '../../images/icons-set/icons-set.png' 'soc-vk-lg';
@soc-vk-name: 'soc-vk';
@soc-vk-x: 129px;
@soc-vk-y: 231px;
@soc-vk-offset-x: -129px;
@soc-vk-offset-y: -231px;
@soc-vk-width: 20px;
@soc-vk-height: 20px;
@soc-vk-total-width: 361px;
@soc-vk-total-height: 314px;
@soc-vk-image: '../../images/icons-set/icons-set.png';
@soc-vk: 129px 231px -129px -231px 20px 20px 361px 314px '../../images/icons-set/icons-set.png' 'soc-vk';
@stop-xs-name: 'stop-xs';
@stop-xs-x: 346px;
@stop-xs-y: 51px;
@stop-xs-offset-x: -346px;
@stop-xs-offset-y: -51px;
@stop-xs-width: 14px;
@stop-xs-height: 14px;
@stop-xs-total-width: 361px;
@stop-xs-total-height: 314px;
@stop-xs-image: '../../images/icons-set/icons-set.png';
@stop-xs: 346px 51px -346px -51px 14px 14px 361px 314px '../../images/icons-set/icons-set.png' 'stop-xs';
@subscribe-name: 'subscribe';
@subscribe-x: 34px;
@subscribe-y: 231px;
@subscribe-offset-x: -34px;
@subscribe-offset-y: -231px;
@subscribe-width: 25px;
@subscribe-height: 20px;
@subscribe-total-width: 361px;
@subscribe-total-height: 314px;
@subscribe-image: '../../images/icons-set/icons-set.png';
@subscribe: 34px 231px -34px -231px 25px 20px 361px 314px '../../images/icons-set/icons-set.png' 'subscribe';
@typ-location-name: 'typ-location';
@typ-location-x: 346px;
@typ-location-y: 143px;
@typ-location-offset-x: -346px;
@typ-location-offset-y: -143px;
@typ-location-width: 12px;
@typ-location-height: 13px;
@typ-location-total-width: 361px;
@typ-location-total-height: 314px;
@typ-location-image: '../../images/icons-set/icons-set.png';
@typ-location: 346px 143px -346px -143px 12px 13px 361px 314px '../../images/icons-set/icons-set.png' 'typ-location';
@user-it-achievements-name: 'user-it-achievements';
@user-it-achievements-x: 346px;
@user-it-achievements-y: 75px;
@user-it-achievements-offset-x: -346px;
@user-it-achievements-offset-y: -75px;
@user-it-achievements-width: 14px;
@user-it-achievements-height: 13px;
@user-it-achievements-total-width: 361px;
@user-it-achievements-total-height: 314px;
@user-it-achievements-image: '../../images/icons-set/icons-set.png';
@user-it-achievements: 346px 75px -346px -75px 14px 13px 361px 314px '../../images/icons-set/icons-set.png' 'user-it-achievements';
@user-it-location-name: 'user-it-location';
@user-it-location-x: 346px;
@user-it-location-y: 120px;
@user-it-location-offset-x: -346px;
@user-it-location-offset-y: -120px;
@user-it-location-width: 12px;
@user-it-location-height: 13px;
@user-it-location-total-width: 361px;
@user-it-location-total-height: 314px;
@user-it-location-image: '../../images/icons-set/icons-set.png';
@user-it-location: 346px 120px -346px -120px 12px 13px 361px 314px '../../images/icons-set/icons-set.png' 'user-it-location';
@user-it-records-name: 'user-it-records';
@user-it-records-x: 346px;
@user-it-records-y: 275px;
@user-it-records-offset-x: -346px;
@user-it-records-offset-y: -275px;
@user-it-records-width: 10px;
@user-it-records-height: 12px;
@user-it-records-total-width: 361px;
@user-it-records-total-height: 314px;
@user-it-records-image: '../../images/icons-set/icons-set.png';
@user-it-records: 346px 275px -346px -275px 10px 12px 361px 314px '../../images/icons-set/icons-set.png' 'user-it-records';
@video-blue-xs-name: 'video-blue-xs';
@video-blue-xs-x: 346px;
@video-blue-xs-y: 0px;
@video-blue-xs-offset-x: -346px;
@video-blue-xs-offset-y: 0px;
@video-blue-xs-width: 15px;
@video-blue-xs-height: 17px;
@video-blue-xs-total-width: 361px;
@video-blue-xs-total-height: 314px;
@video-blue-xs-image: '../../images/icons-set/icons-set.png';
@video-blue-xs: 346px 0px -346px 0px 15px 17px 361px 314px '../../images/icons-set/icons-set.png' 'video-blue-xs';
@voice-against-name: 'voice-against';
@voice-against-x: 346px;
@voice-against-y: 27px;
@voice-against-offset-x: -346px;
@voice-against-offset-y: -27px;
@voice-against-width: 14px;
@voice-against-height: 14px;
@voice-against-total-width: 361px;
@voice-against-total-height: 314px;
@voice-against-image: '../../images/icons-set/icons-set.png';
@voice-against: 346px 27px -346px -27px 14px 14px 361px 314px '../../images/icons-set/icons-set.png' 'voice-against';
@voice-for-name: 'voice-for';
@voice-for-x: 302px;
@voice-for-y: 265px;
@voice-for-offset-x: -302px;
@voice-for-offset-y: -265px;
@voice-for-width: 17px;
@voice-for-height: 14px;
@voice-for-total-width: 361px;
@voice-for-total-height: 314px;
@voice-for-image: '../../images/icons-set/icons-set.png';
@voice-for: 302px 265px -302px -265px 17px 14px 361px 314px '../../images/icons-set/icons-set.png' 'voice-for';
@wall-ach-closed-name: 'wall-ach-closed';
@wall-ach-closed-x: 102px;
@wall-ach-closed-y: 0px;
@wall-ach-closed-offset-x: -102px;
@wall-ach-closed-offset-y: 0px;
@wall-ach-closed-width: 84px;
@wall-ach-closed-height: 71px;
@wall-ach-closed-total-width: 361px;
@wall-ach-closed-total-height: 314px;
@wall-ach-closed-image: '../../images/icons-set/icons-set.png';
@wall-ach-closed: 102px 0px -102px 0px 84px 71px 361px 314px '../../images/icons-set/icons-set.png' 'wall-ach-closed';
@wall-point-active-name: 'wall-point-active';
@wall-point-active-x: 302px;
@wall-point-active-y: 231px;
@wall-point-active-offset-x: -302px;
@wall-point-active-offset-y: -231px;
@wall-point-active-width: 18px;
@wall-point-active-height: 18px;
@wall-point-active-total-width: 361px;
@wall-point-active-total-height: 314px;
@wall-point-active-image: '../../images/icons-set/icons-set.png';
@wall-point-active: 302px 231px -302px -231px 18px 18px 361px 314px '../../images/icons-set/icons-set.png' 'wall-point-active';
@wall-point-name: 'wall-point';
@wall-point-x: 246px;
@wall-point-y: 231px;
@wall-point-offset-x: -246px;
@wall-point-offset-y: -231px;
@wall-point-width: 18px;
@wall-point-height: 18px;
@wall-point-total-width: 361px;
@wall-point-total-height: 314px;
@wall-point-image: '../../images/icons-set/icons-set.png';
@wall-point: 246px 231px -246px -231px 18px 18px 361px 314px '../../images/icons-set/icons-set.png' 'wall-point';
@zoom-hover-name: 'zoom-hover';
@zoom-hover-x: 258px;
@zoom-hover-y: 108px;
@zoom-hover-offset-x: -258px;
@zoom-hover-offset-y: -108px;
@zoom-hover-width: 52px;
@zoom-hover-height: 52px;
@zoom-hover-total-width: 361px;
@zoom-hover-total-height: 314px;
@zoom-hover-image: '../../images/icons-set/icons-set.png';
@zoom-hover: 258px 108px -258px -108px 52px 52px 361px 314px '../../images/icons-set/icons-set.png' 'zoom-hover';
@zoom-name: 'zoom';
@zoom-x: 196px;
@zoom-y: 108px;
@zoom-offset-x: -196px;
@zoom-offset-y: -108px;
@zoom-width: 52px;
@zoom-height: 52px;
@zoom-total-width: 361px;
@zoom-total-height: 314px;
@zoom-image: '../../images/icons-set/icons-set.png';
@zoom: 196px 108px -196px -108px 52px 52px 361px 314px '../../images/icons-set/icons-set.png' 'zoom';
@spritesheet-width: 361px;
@spritesheet-height: 314px;
@spritesheet-image: '../../images/icons-set/icons-set.png';
@spritesheet-sprites: @ach-status-credit @ach-status-fail @arr-down @arr-top @avatar-change-xs @avatar-remove-xs @cart-small @close-media-row @close-modal @close-tag @comment-sm-hover @comment-sm @edit-sm-hover @edit-sm @journal-mid @like-finger-active @like-finger @like-sm @logo-big @logo @media-play @media-remove @notice-small @ok-xs @photo-blue-xs @photo-upload-medium @play-hover @play-xs @play @question-small @registration-avatar-upload @remove-sm-hover @remove-sm @share-sm-hover @share-sm @soc-fb-lg @soc-fb @soc-gp-lg @soc-gp @soc-tw-lg @soc-tw @soc-vk-lg @soc-vk @stop-xs @subscribe @typ-location @user-it-achievements @user-it-location @user-it-records @video-blue-xs @voice-against @voice-for @wall-ach-closed @wall-point-active @wall-point @zoom-hover @zoom;
@spritesheet: 361px 314px '../../images/icons-set/icons-set.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
