/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@arr-down-name: 'arr-down';
@arr-down-x: 80px;
@arr-down-y: 0px;
@arr-down-offset-x: -80px;
@arr-down-offset-y: 0px;
@arr-down-width: 39px;
@arr-down-height: 39px;
@arr-down-total-width: 168px;
@arr-down-total-height: 114px;
@arr-down-image: '../../images/icons-set/icons-set.png';
@arr-down: 80px 0px -80px 0px 39px 39px 168px 114px '../../images/icons-set/icons-set.png' 'arr-down';
@arr-top-name: 'arr-top';
@arr-top-x: 129px;
@arr-top-y: 0px;
@arr-top-offset-x: -129px;
@arr-top-offset-y: 0px;
@arr-top-width: 39px;
@arr-top-height: 39px;
@arr-top-total-width: 168px;
@arr-top-total-height: 114px;
@arr-top-image: '../../images/icons-set/icons-set.png';
@arr-top: 129px 0px -129px 0px 39px 39px 168px 114px '../../images/icons-set/icons-set.png' 'arr-top';
@close-modal-name: 'close-modal';
@close-modal-x: 129px;
@close-modal-y: 49px;
@close-modal-offset-x: -129px;
@close-modal-offset-y: -49px;
@close-modal-width: 21px;
@close-modal-height: 21px;
@close-modal-total-width: 168px;
@close-modal-total-height: 114px;
@close-modal-image: '../../images/icons-set/icons-set.png';
@close-modal: 129px 49px -129px -49px 21px 21px 168px 114px '../../images/icons-set/icons-set.png' 'close-modal';
@journal-mid-name: 'journal-mid';
@journal-mid-x: 0px;
@journal-mid-y: 84px;
@journal-mid-offset-x: 0px;
@journal-mid-offset-y: -84px;
@journal-mid-width: 25px;
@journal-mid-height: 30px;
@journal-mid-total-width: 168px;
@journal-mid-total-height: 114px;
@journal-mid-image: '../../images/icons-set/icons-set.png';
@journal-mid: 0px 84px 0px -84px 25px 30px 168px 114px '../../images/icons-set/icons-set.png' 'journal-mid';
@logo-big-name: 'logo-big';
@logo-big-x: 0px;
@logo-big-y: 0px;
@logo-big-offset-x: 0px;
@logo-big-offset-y: 0px;
@logo-big-width: 70px;
@logo-big-height: 74px;
@logo-big-total-width: 168px;
@logo-big-total-height: 114px;
@logo-big-image: '../../images/icons-set/icons-set.png';
@logo-big: 0px 0px 0px 0px 70px 74px 168px 114px '../../images/icons-set/icons-set.png' 'logo-big';
@soc-fb-name: 'soc-fb';
@soc-fb-x: 80px;
@soc-fb-y: 49px;
@soc-fb-offset-x: -80px;
@soc-fb-offset-y: -49px;
@soc-fb-width: 20px;
@soc-fb-height: 20px;
@soc-fb-total-width: 168px;
@soc-fb-total-height: 114px;
@soc-fb-image: '../../images/icons-set/icons-set.png';
@soc-fb: 80px 49px -80px -49px 20px 20px 168px 114px '../../images/icons-set/icons-set.png' 'soc-fb';
@soc-gp-name: 'soc-gp';
@soc-gp-x: 35px;
@soc-gp-y: 84px;
@soc-gp-offset-x: -35px;
@soc-gp-offset-y: -84px;
@soc-gp-width: 20px;
@soc-gp-height: 20px;
@soc-gp-total-width: 168px;
@soc-gp-total-height: 114px;
@soc-gp-image: '../../images/icons-set/icons-set.png';
@soc-gp: 35px 84px -35px -84px 20px 20px 168px 114px '../../images/icons-set/icons-set.png' 'soc-gp';
@soc-tw-name: 'soc-tw';
@soc-tw-x: 65px;
@soc-tw-y: 84px;
@soc-tw-offset-x: -65px;
@soc-tw-offset-y: -84px;
@soc-tw-width: 20px;
@soc-tw-height: 20px;
@soc-tw-total-width: 168px;
@soc-tw-total-height: 114px;
@soc-tw-image: '../../images/icons-set/icons-set.png';
@soc-tw: 65px 84px -65px -84px 20px 20px 168px 114px '../../images/icons-set/icons-set.png' 'soc-tw';
@soc-vk-name: 'soc-vk';
@soc-vk-x: 95px;
@soc-vk-y: 84px;
@soc-vk-offset-x: -95px;
@soc-vk-offset-y: -84px;
@soc-vk-width: 20px;
@soc-vk-height: 20px;
@soc-vk-total-width: 168px;
@soc-vk-total-height: 114px;
@soc-vk-image: '../../images/icons-set/icons-set.png';
@soc-vk: 95px 84px -95px -84px 20px 20px 168px 114px '../../images/icons-set/icons-set.png' 'soc-vk';
@spritesheet-width: 168px;
@spritesheet-height: 114px;
@spritesheet-image: '../../images/icons-set/icons-set.png';
@spritesheet-sprites: @arr-down @arr-top @close-modal @journal-mid @logo-big @soc-fb @soc-gp @soc-tw @soc-vk;
@spritesheet: 168px 114px '../../images/icons-set/icons-set.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
