<div class="fs-modal__title">Благодарим за обращение</div>
<div class="fs-modal__body">
    <p class="fs-modal__success-text">Ваше сообщение получено. Мы найдем решение проблемы и сразу свяжемся с Вами.</p>
</div>
<div class="fs-modal__submit">
    <button class="btn btn-fill-green btn-xl" type="button" ng-click="close()">Закрыть</button>
</div>