@using BLL.Common.Extensions
@model BLL.Common.Objects.IHasCommentViewModel
<div ng-controller="CommentsCtrl"
     ng-init='
     itemType="@Model.ItemType";
     itemId=@Model.Id; 
     more=@Model.MoreCommentsCount;
     comments=@Html.Raw(Model.Comments.ToJson());'
     class="mod block">
    <div class="mod__header">
        <div class="mod__header__title">Комментарии</div>
    </div>
    <div class="mod__content comment">
        <div ng-if="more!=0"
             class="text-center">
            <span ng-click="loadAll();" class="link">Показать предыдущие {{more}} {{more | formatWord:['комментарий', 'комментария', 'комментариев']}}</span>
        </div>
        <div class="comment__list"
             ng-cloak>
            <div ng-repeat="c in comments" class="cl__it">
                <div ng-attr-id="{{'comment_' + c.id}}"
                     class="cl__it__inner">
                    <div class="cl__it__av-wrap">
                        <img ng-src="{{c.avatar + '?w=80&h=80&mode=crop'}}" class="cl__it__av" alt="{{c.name}} {{c.surname}}" />
                    </div>
                    <div class="cl__it__info">
                        <div class="cl__it__name">{{c.name}} {{c.surname}}</div>
                        <div class="cl__it__date">{{c.date}}</div>
                        <div ng-click="createAnswer(c)"
                             class="cl__it__text">
                            {{c.text}}
                        </div>
                    </div>
                </div>
                <div ng-if="c.commentFor != null"
                     class="cl__it__for">
                    Ответ для <span class="link" ng-click="scrollToFor(c.commentFor.id)">{{c.commentFor.name}}</span>
                </div>
            </div>
            <form ng-submit="createComment(text)"
                  class="comment__form">
                <textarea ng-model="text"
                          ng-autofocus="{{focus}}"
                          ng-class="{ 'input--active': text.length }"
                          scroll-to-current-pos="{{focus}}"
                          param-dopscroll="100" 
                          class="input"
                          placeholder="Комментировать..."></textarea>
                <div class="comment__form__bottom">
                    <button type="submit" class="btn btn--main btn--xs">Отправить</button>
                </div>
            </form>
        </div>
    </div>
</div>