<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="footer__copyright">
                    &#169; FORTRESS, 2014
                </div>
            </div>
            <div class="col-xs-6">
                <ul class="footer__nav">
                    <li>
                        <a href="#">О сайте</a>
                    </li>
                    @*<li>
                        <a href="#">Техподдержка</a>
                    </li>*@
                    <li>
                        <a href="#">Правила</a>
                    </li>
                    @*<li>
                        <a href="#">Наша продукция</a>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
</footer>