@model BLL.Blog.ViewModels.IRatingInfo
@if (CurrentUser.IsAnonimous)
{
    <div class="like-rating">
        <span class="i-art i-art-like" data-toggle="tooltip" data-placement="top" title="зарегистрируйтесь"></span>
        <div class="like-rating__count">@Model.Rating</div>
        <span class="i-art i-art-dislike" data-toggle="tooltip" data-placement="top" title="зарегистрируйтесь"></span>
    </div>
}
else
{
    <div ng-controller="RatingCtrl">
        <div ng-init="
             count=@Model.Rating ;
             id=@Model.Id ;
             type='@Model.RatingEntityType' ;
             isLiked='@Model.IsLiked.ToString()' ;
             isDisliked='@Model.IsDisiked.ToString()' ;"
             ng-cloak
             class="like-rating">
            
            
            <span ng-click="changeRating('like', isLiked, isDisliked)"
                  ng-class="{'active': isLiked == 'True'}"
                  class="i-art i-art-like"></span>
            <div animate-counter
                 ng-model="count"
                 ng-class="{'like-rating__count--minus': count<0, 'like-rating__count--plus': count>0}"
                 class="like-rating__count">{{count}}</div>
            <span ng-click="changeRating('dislike', isLiked, isDisliked)"
                  ng-class="{'active': isDisliked == 'True'}"
                  class="i-art i-art-dislike"></span>
        </div>
    </div>
}
