@model BLL.Blog.ViewModels.IRatingInfo
<div ng-controller="RatingCtrl">
    <div ng-init="
         count=@Model.Rating;
         id=@Model.Id;
         type='@Model.RatingEntityType';
         isLiked=@Model.IsLiked.ToString();
         isDisliked=@Model.IsDisiked.ToString();"
         class="like-rating">

        <span ng-if="!isRated" ng-click="changeRating('like')" class="i-art i-art-like"></span>
        <span ng-if="!isRated" ng-click="changeRating('dislike')" class="i-art i-art-dislike"></span>
        <span ng-if="isRated"
              ng-class="{'i-art-liked': isLiked, 'i-art-disliked': isDisliked}"
              class="i-art like-rating__rated">
        </span>
        <div animate-counter
             ng-model="count"
             ng-class="{'like-rating__count--minus': count<0, 'like-rating__count--plus': count>0}"
             class="like-rating__count">{{count}}</div>
    </div>
</div>
