@{
    ViewBag.Title = "Fortress - Создание статьи";
    Layout = "~/Views/Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="article">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div ng-controller="ArticleEditCtrl"
                     class="article__inner">
                    @RenderBody()
                </div>
            </div>
            <div class="col-sm-4">

                @*Таймер конференции*@
                <div class="block">
                    <div conf-date="12312"></div>
                </div>

                @Html.Partial("Shared/Partials/Blocks/Menu")
            </div>
        </div>
    </div>
</div>