@{
    ViewBag.Title = "Fortress - Создание статьи";
    Layout = "~/Views/Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="article">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div ng-controller="ArticleEditCtrl"
                     class="article__inner">
                    @RenderBody()
                </div>
            </div>
            <div class="col-sm-4">
                
                @*Блок авторизации, регистрации*@
                @if (CurrentUser.IsAnonimous)
                {
                    @Html.Partial("Shared/Partials/Blocks/AuthRegBlock")
                }

                @*Таймер конференции*@
                @Html.Action("RenderTime", "Conference")

                @Html.Action("GetRubrics", "Blog");
            </div>
        </div>
    </div>
</div>