@{
    Layout = "../../../Shared/Layouts/StaticPageLayout.cshtml";
}

<div class="blog-wrap" ng-controller="MainBlogCtrl">
    @Html.AntiForgeryToken()

    @*Шапка в блоге*@
    @Html.Partial("Shared/Partials/Blocks/Header")
    
    <div class="blog__inner">
        @RenderBody()
    </div>

    @*Футер в блоге*@
    @Html.Partial("Shared/Partials/Blocks/Footer")
</div>