@using System.Web.Optimization
@{
    Layout = "../../../Shared/Layouts/StaticPageLayout.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/blog/scripts")
}

<div ng-app="blog"
     ng-controller="MainBlogCtrl" 
     class="blog-wrap">

    @*Шапка в блоге*@
    @Html.Partial("Partials/Header")

    <div class="blog__inner">
        @RenderBody()
    </div>

    @*Футер в блоге*@
    @Html.Partial("Partials/Footer")
</div>