@{
    Layout = "../../../Shared/Layouts/StaticPageLayout.cshtml";
}

<div ng-app="blog"
     ng-controller="MainBlogCtrl" 
     class="blog-wrap">
    @Html.AntiForgeryToken()

    @*Шапка в блоге*@
    @Html.Partial("Shared/Partials/Blocks/Header")

    <div class="blog__inner">
        @RenderBody()
    </div>

    @*Футер в блоге*@
    @Html.Partial("Shared/Partials/Blocks/Footer")
</div>