@model BLL.Blog.ViewModels.PostModel
@{
    ViewBag.Title = "Fortress - Редактирование статьи";
    Layout = "../Blog/Shared/Layouts/ArticleEdit.cshtml";
}
<h2>Редактирование статьи</h2>
@Html.Partial("Shared/Partials/ArticleEdit")
