@{
    ViewBag.Title = "Fortress - Блог";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="center-block col-xs-6">
            @*Регистрация*@
            <h2>Форма регистрации</h2>
            <div ng-controller="RegistrationCtrl">
                <form ng-cloak
                      ng-submit="requestCode(user);"
                      ng-show="!smsBlockShow">
                    <div class="form-group">
                        <label for="regName">Имя</label>
                        <input ng-model="user.name"
                               ng-disabled="disableInp"
                               type="text" class="form-control" id="regName">
                    </div>
                    <div class="form-group">
                        <label for="regPhone">Номер телефона</label>
                        <input ng-model="user.phone"
                               ng-disabled="disableInp"
                               type="text" class="form-control" id="regPhone">
                    </div>
                    <button ng-disabled="loading"
                            type="submit" class="btn btn-default">
                        Далее
                    </button>
                </form>
                <form ng-cloak
                      ng-submit="registration(verify)"
                      ng-show="smsBlockShow">
                    <div class="form-group">
                        <label for="regPass1">Пароль</label>
                        <input ng-model="verify.password"
                               ng-disabled="disableInp"
                               type="password" class="form-control" id="regPass1">
                    </div>
                    <div class="form-group">
                        <label for="regPass2">Повторите пароль</label>
                        <input ng-model="verify.passwordRepeat"
                               ng-disabled="disableInp"
                               type="password" class="form-control" id="regPass2">
                    </div>
                    <div class="form-group">
                        <label for="regCode">Код подтверждения</label>
                        <input ng-model="verify.code"
                               ng-disabled="disableCode"
                               ng-autofocus="{{smsBlockShow}}"
                               type="text" id="regCode">
                        <span ng-if="timerForSms > 0">Выслать код повторно через {{timerForSms}} секунд</span>
                        <span ng-if="timerForSms == 0" class="link" ng-click="requestCode(user.phone);">Выслать повторно</span>
                    </div>
                    <button ng-disabled="loading"
                            type="submit" class="btn btn-default">
                        Создать профиль
                    </button>
                </form>
                <div ng-show="loading">Подождите, идет загрузка</div>
                <div ng-show="serverError.isShow">{{serverError.message}}</div>
            </div>
        </div>
        <div class="col-xs-6">
            @*Авторизация*@
            <h2>Форма авториззации</h2>
            <div ng-controller="AuthorizationCtrl">
                <form ng-submit="authorization(auth)">
                    <div class="form-group">
                        <label for="authPhone">Телефон</label>
                        <input ng-model="auth.phone"
                               ng-disabled="formDisabled"
                               type="text" class="form-control" id="authPhone">
                    </div>
                    <div class="form-group">
                        <label for="authPass">Пароль</label>
                        <input ng-model="auth.pass"
                               ng-disabled="formDisabled"
                               type="password" class="form-control" id="authPass">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-default">Войти</button>
                    </div>
                </form>
                <div ng-show="loading">Подождите, идет загрузка</div>
            </div>
        </div>
    </div>
</div>

@*<div class="header">
        <div class="container">
            <div class="row header-wrap">
                <div class="col-xs-3">
                    <div class="header__logo">
                        logo
                    </div>
                </div>
                <div class="col-xs-7">
                    <div class="header__search">
                        search
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="header__actions">
                        <a href="#" class="header__actions__item">1</a>
                        <a href="#" class="header__actions__item">2</a>
                        <a href="#" class="header__actions__item">3</a>
                        <a href="#" class="header__actions__item">4</a>
                        <a href="#" class="header__actions__item">5</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-3 menu">
                <div class="menu-section">
                    <div class="menu-section__title">
                        <div class="menu-section__title__inner">
                            Рубрики:
                        </div>
                    </div>
                    <a href="#" class="menu-section__item">Здоровье</a>
                    <a href="#" class="menu-section__item">Мотивация</a>
                    <a href="#" class="menu-section__item">Новичку</a>
                    <a href="#" class="menu-section__item">Общее</a>
                    <a href="#" class="menu-section__item">Питание</a>
                    <a href="#" class="menu-section__item">С чего начать</a>
                    <a href="#" class="menu-section__item">Упражнения</a>
                </div>
            </div>
            <div class="col-xs-9">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner">
                            banner
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="blog-l">
                            <div class="blog-l__item">
                                <div class="blog-l__item__preview">
                                    img
                                </div>
                                <div class="blog-l__item__info">
                                    <div class="blog-l__item__info__top">
                                        <h4 class="title">Оптимальное время тренировки</h4>
                                        <div class="date">Опубликовано: Апрель, 16, 2014 автором <a href="#">gleb</a></div>
                                        <div class="blog-l__item__text">Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены. Гормоны. Выработка гормонов являются одним из важнейших факторов вашего прогресса. Во время силовых тренировок выделяется несколько так называемых «анаболических» (ответственных за рост, прогресс мышечных объёмов) гормонов. К ним относятся: соматотропин (гормон роста), тестостерон и инсулин. Мы не будем отдельно останавливаться на каждом из них и подробно расписывать их функции, но лишь в краткой </div>
                                    </div>
                                    <div class="blog-l__item__info__bottom">
                                        <div class="blog-l__item__comments">Комментариев 4</div>
                                        <div class="blog-l__item__likes">Нравится 7 <span class="icon-fortress"></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@