@{
    @*TODO Добавить название статьи в Title*@
    ViewBag.Title = "Fortress - Статья";
    Layout = "../Blog/Shared/Layouts/ArticleEdit.cshtml";
}
<div class="article__item block">
    <div class="article__item__img-wrap">
        <img src="/" alt="статьюшка" class="article__item__img"/>
    </div>
    <div class="article__item__text">
        <h2 class="article__item__title">Оптимальное время тренировок</h2>
        <div class="article__item__desc">
            Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены
            Выработка гормонов являются одним из важнейших факторов вашего прогресса. Во время силовых тренировок выделяется несколько так называемых «анаболических» (ответственных за рост, прогресс мышечных объёмов) гормонов. К ним относятся: соматотропин (гормон роста), тестостерон и инсулин. Мы не будем отдельно останавливаться на каждом из них и подробно расписывать их функции, но лишь в краткой&
            Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены выработка гормонов являются одним из важнейших факторов вашего прогресса. Во время силовых тренировок выделяется несколько так называемых «анаболических» (ответственных за рост, прогресс мышечных объёмов) гормонов. К ним относятся: соматотропин (гормон роста), тестостерон и инсулин. Мы не будем отдельно останавливаться на каждом из них и подробно расписывать их функции, но лишь в краткой
            Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены
            Мы не будем отдельно останавливаться на каждом из них и подробно расписывать их функции, но лишь в краткой.
            Принято считать, что оптимальным временем для тренировки с целью набора мышечной массы является отрезок от 40 минут до полутора часов. В данной статье я попробую максимально наглядно объяснить, чем эти рамки обусловлены выработка гормонов являются одним из важнейших факторов вашего прогресса. Во время силовых тренировок выделяется несколько так называемых «анаболических» (ответственных за рост, прогресс мышечных объёмов) гормонов. К ним относятся: соматотропин (гормон роста), тестостерон и инсулин. Мы не будем отдельно останавливаться на каждом из них и подробно расписывать их функции, но лишь в краткой.
        </div>
        <div class="article__item__bottom">
            <div class="pull-left">
                <span><i></i>gleb</span>
                <span><i></i>10.10.14</span>
                <span><i></i>2</span>
            </div>
            <div class="pull-right">
                <span><i></i>2</span>
                <span><i></i>4</span>
            </div>
        </div>
    </div>
</div>
@*Комментарии*@
<div ng-controller="CommentCtrl"
     ng-init="itemId=666; more=666;"
     @*startComments=[]*@
     class="mod block">
    <div class="mod__header">
        <div class="mod__header__title">Комментарии</div>
    </div>
    <div class="mod__content comment">
        <div ng-if="more!=0">
            <span class="link" ng-click="loadAll();">Показать предыдущие {{more}} комментария</span>
        </div>
        <div class="comment__list">
            <div ng-repeat="c in comments" class="cl__it">
                <div ng-attr-id="{{'comment_' + c.id}}"
                     class="cl__it__inner">
                    <a ng-href="/user/{{c.id}}" class="cl__it__av-wrap">
                        <img ng-src="{{c.avatar}}" class="cl__it__av" alt="{{c.name}} {{c.surname}}" />
                    </a>
                    <div class="cl__it__info">
                        <a ng-href="/user/{{c.id}}" class="cl__it__name">{{c.name}} {{c.surname}}</a>
                        <div class="cl__it__date">{{c.date}}</div>
                        <div ng-click="createAnswer(c)"
                             class="cl__it__text">
                            {{c.text}}
                        </div>
                    </div>
                </div>
                <div ng-if="c.cfor.id != undefined"
                     class="cl__it__for">
                    Ответ для <span class="link" ng-click="scrollToFor(c.cfor.id)">{{c.cfor.name}}</span>
                </div>
            </div>
            <form ng-submit="createComment(text)"
                  class="comment__form">
                <textarea ng-model="text"
                          ng-autofocus="{{focus}}"
                          scroll-to-current-pos="{{focus}}"></textarea>
                <button type="submit" class="btn">Отправить</button>
            </form>
        </div>
    </div>
</div>

