@using BLL.Blog.ViewModels
@model BLL.Blog.ViewModels.CreatePostModel
@{
    ViewBag.Title = "Fortress - Создание статьи";
    Layout = "../Blog/Shared/Layouts/ArticleEdit.cshtml";
}
<h2>Создание статьи</h2>
@Html.Partial("Shared/Partials/ArticleEdit", Model)
<div ng-if="msg.show"
     ng-cloak
     class="msg">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div ng-show="msg.success" class="alert alert-success">Статья оптравлена на модерацию</div>
            <div ng-show="msg.error" class="alert alert-danger">Неудалось сохранить статью</div>
        </div>
    </div>
</div>
