<div class="journal-submit"
        ng-class="{ 'open': open }">
    <img src="#" class="jos__avatar">
    <form class="form">
        <div class="fs-form__row">
            <div class="jos__text-wrap">
                <textarea ng-model="j.text" class="fs-input" placeholder="Как прошла тренировка?"></textarea>
                <div class="media-preview">
                    <div class="mp__item" ng-repeat="it in j.media">
                        <img class="mp__img" ng-src="{{it.img}}" />
                        <div ng-if="it.type=='video'" class="mp__item__video__overlay">
                            <i class="play"></i>
                        </div>
                        <span class="mp__close" ng-click="removeMedia(it)">
                            <i class="remove"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="jos__media-actions max">
                <media-upload ng-model="j.media"></media-upload>
            </div>
        </div>
        <div class="fs-form__row max">
            <themes-autocomplete ng-model="j.themes"></themes-autocomplete>
        </div>
        <!--<div class="jos__social">
            social sharing
        </div>-->
        <div class="fs-form__submit max">
            <button type="button" class="link link--white" ng-click="closeForm()">Отмена</button>
            <button type="button" class="btn btn-fill-green btn-xl" ng-click="submit()">Отправить</button>
        </div>
    </form>
</div>