<div class="cp-articles">
    <div class="cp-block">
        <h2>Статьи</h2>
        <!--<div class="cp-articles__header">
            <div class="container-fluid">
                <div class="row">
                    <form ng-submit="getArticles(model.search)"
                          ng-init="getArticles(model.search)">
                        <div class="col-xs-4">
                            <select ng-model="model.search.status" class="input">
                                <option value="">Все статьи</option>
                                <option value="0">На модерации</option>
                                <option value="1">Опубликованные</option>
                                <option value="2">Отклоненные</option>
                                <option value="3">На главной</option>
                            </select>
                        </div>
                        <div class="col-xs-4">
                            <input ng-model="model.search.query" type="text" class="input" placeholder="Поиск по содержимому" />
                        </div>
                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-success">Найти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>-->
    </div>
    <div class="cp-block">
        <div class="cp-articles__content">
            <div ng-show="!er.server"
                 ng-cloak
                 class="container-fluid">
                <div class="row">
                    <div class="col-xs-3">
                        Название
                    </div>
                    <div class="col-xs-2">
                        Дата создания
                    </div>
                    <div class="col-xs-2">
                        Статус
                    </div>
                    <div class="col-xs-5">
                        Действия
                    </div>
                </div>
                <div ng-repeat="ar in model.articles"
                     class="row">
                    <div class="col-xs-3">
                        <a ng-href="{{ar.url}}" class="link">{{ar.title}}</a>
                    </div>
                    <div class="col-xs-2">
                        {{ar.date}}
                    </div>
                    <div class="col-xs-2">
                        <div ng-if="ar.status==0">На модерации</div>
                        <div ng-if="ar.status==1">Опубликована</div>
                        <div ng-if="ar.status==2">Отклонена</div>
                        <div ng-if="ar.status==3">Отображена на главной</div>
                    </div>
                    <div class="col-xs-5">
                        <button ng-click="changeArticleStatus(ar.id, 'Publish', ar)"
                                ng-if="ar.status==0 || ar.status==2"
                                class="btn btn-info">
                            Опубликовать
                        </button>
                        <button ng-click="changeArticleStatus(ar.id, 'Reject', ar)"
                                ng-if="ar.status==0"
                                class="btn btn-warning">
                            Отклонить
                        </button>
                        <button ng-click="changeArticleStatus(ar.id, 'Reject', ar)"
                                ng-if="ar.status==1 || ar.status==3"
                                class="btn btn-danger">
                            Убрать с публикации
                        </button>
                        <button ng-click="changeArticleStatus(ar.id, 'Fortress', ar)"
                                class="btn btn-success">
                            Отобразить на главной
                        </button>
                    </div>
                </div>
            </div>
            <div ng-cloak ng-show="ld.articles">Идет загрузка...</div>
            <div ng-show="er.server"
                 class="alert alert-danger">
                Не удалось зарузить статьи. Сервер не доступен
            </div>
            <div ng-show="!model.articles.length && !er.server && !ld.articles" class="alert alert-warning">
                Нет статей
            </div>
        </div>
    </div>
</div>
