<div class="fs-modal__title">Техническая поддеркжа</div>
<div class="fs-modal__body">
    <form name="SupportForm"
          ng-submit="submit()"
          ng-class="{ 'show-valid': showValid }">
        <div class="field-error"
             ng-show="showValid && SupportForm.$error.required">Все поля обязательны для заполнения</div>
        <div class="fs-form__row">
            <input type="text" ng-model="support.name" required placeholder="Ваше имя" class="fs-input" />
        </div>
        <div class="fs-form__row">
            <input type="email" ng-model="support.email" required placeholder="Ваш email" class="fs-input" />
        </div>
        <div class="fs-form__row">
            <textarea ng-model="support.problem" required placeholder="Опишите вашу проблему" rows="7" class="fs-input"></textarea>
        </div>
        <div class="fs-modal__submit">
            <button class="btn btn-fill-green btn-xl" type="submit" ng-click="showValid=true">Отправить</button>
        </div>
    </form>
</div>