<div class="conf-date">
    <div ng-if="!url.length">
        <div class="conf-date__title">Видео конференция начнется через</div>
        <div class="conf-date__counter">
            <div class="conf-date__col">
                <div>
                    <div class="conf-date__item">{{dh}}</div>
                    <div class="conf-date__item">{{dm}}</div>
                </div>
                <p>Дней</p>
            </div>
            <div class="conf-date__col">
                <div>
                    <div class="conf-date__item">{{hh}}</div>
                    <div class="conf-date__item">{{hm}}</div>
                </div>
                <p>Часов</p>
            </div>
            <div class="conf-date__col">
                <div>
                    <div class="conf-date__item">{{mh}}</div>
                    <div class="conf-date__item">{{mm}}</div>
                </div>
                <p>Минут</p>
            </div>
        </div>
    </div>
    <div ng-if="url.length">
        <a href="{{url}}" class="conf-date__link">Видеоконференция уже началась!</a>
    </div>
</div>