<div class="conf-date">
    <div ng-if="!model.id.length">
        <div class="conf-date__title">Видео конференция начнется через</div>
        <div class="conf-date__counter">
            <div class="conf-date__col">
                <div>
                    <div class="conf-date__item">{{dh}}</div>
                    <div class="conf-date__item">{{dm}}</div>
                </div>
                <p>{{dm | formatWord:['День', 'Дня', 'Дней']}}</p>
            </div>
            <div class="conf-date__col">
                <div>
                    <div class="conf-date__item">{{hh}}</div>
                    <div class="conf-date__item">{{hm}}</div>
                </div>
                <p>{{hm | formatWord:['Час', 'Часа', 'Часов']}}</p>
            </div>
            <div class="conf-date__col">
                <div>
                    <div class="conf-date__item">{{mh}}</div>
                    <div class="conf-date__item">{{mm}}</div>
                </div>
                <p>{{mm | formatWord:['Минута', 'Минуты', 'Минут']}}</p>
            </div>
        </div>
    </div>
    <div ng-if="model.id.length">
        <a ng-href="/conference/{{model.id}}" class="conf-date__link">Видеоконференция уже началась! Ссылка.</a>
    </div>
</div>