<section class="users-list-page">
    <div data-loader="ulist.loader"
         ng-if="!ulist.pageError">

        <div class="ulp__inner">
            <div class="container">
                
                <ul class="users-list users-list--cards">
                    <li class="ul__it">
                        <img src="#" class="ul__it__img"/>
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw">
                            <follows-row ng-model="u.follows"
                                         data-id="{{::u.id}}"></follows-row>
                            @*<div class="follow-row">
                                <div class="fr__btn"><i></i></div>
                                <a href="#" class="fr__user">
                                    <img src="#"/>
                                </a>
                                <a href="#" class="fr__user">
                                    <img src="#" />
                                </a>
                                <a href="#" class="fr__user">
                                    <img src="#" />
                                </a>
                                <a href="#" class="fr__user">
                                    <img src="#" />
                                </a>
                                <span class="fr__more">+21</span>
                            </div>*@
                        </div>
                    </li>
                    <li class="ul__it">
                        <img src="#" class="ul__it__img" />
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw"></div>
                    </li>
                    <li class="ul__it">
                        <img src="#" class="ul__it__img" />
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw"></div>
                    </li>
                    <li class="ul__it">
                        <img src="#" class="ul__it__img" />
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw"></div>
                    </li>
                    <li class="ul__it">
                        <img src="#" class="ul__it__img" />
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw"></div>
                    </li>
                    <li class="ul__it">
                        <img src="#" class="ul__it__img" />
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw"></div>
                    </li>
                    <li class="ul__it">
                        <img src="#" class="ul__it__img" />
                        <div class="ul__it__info">
                            <div class="ul__it__name">Джамаил Бедоев</div>
                            <div class="ul__it__age">21 год / 4 года в спорте</div>
                            <ul class="ul__it__stat">
                                <li class="ul__location">Владивосток, Россия</li>
                                <li class="ul__records"><b>29</b> записей</li>
                                <li class="ul__ach"><b>4</b> достижения</li>
                            </ul>
                        </div>
                        <div class="ul__it__fw"></div>
                    </li>
                </ul>

                <div ng-if="ulist.showMore" class="text-center show-more show-more--dark">
                    <button ng-class="{ 'loading': ulist.showMoreLoading }"
                            ng-click="ulist.loadMore()"
                            type="button" class="show-more__btn">
                        @R("Показать ещё")
                    </button>
                </div>
                <div ng-if="!ulist.list.lenght" class="alert alert-info text-center">
                    @R("Ничего не найдено. Попробуйте изменить критерии поиска.")
                </div>
            </div>
        </div>
    </div>

    <div ng-if="ulist.pageError"
         class="server-error server-error--dark">
        <div class="container">
            <div class="alert alert-warning text-center">@R("Что то пошло не так. Пожалуйста вернитесь на страницу просмотра атлетов позже. Мы уже прилагаем все усилия чтобы устранить проблему.")</div>
        </div>
    </div>
</section>