@{
    ViewBag.Title = "Правила Fortress";
    Layout = "../Blog/Shared/Layouts/BlogLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="mod block">
                <div class="mod__header">
                    <div class="mod__header__title">Правила</div>
                </div>
                <div class="mod__content">
                    <div class="tabs-content">
                        Правила Fortress
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
