@using System.Web.Optimization
@{
    ViewBag.Title = "Генерация ЭЦП";
    Layout = "Empty.cshtml";
}

@section Scripts{
    @Scripts.Render("~/bundles/blog/scripts")
}

<div ng-app="app">
    @RenderBody();
</div>