<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"/>

    <target xsi:type="File"
            name="file"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            fileName="C:/Log/Social/log.txt"
            archiveFileName="C:/Log/SportSocial/Archive/log.{#####}.txt"
            archiveAboveSize="5242880"
            maxArchiveFiles="200"
            archiveNumbering="Sequence" />

    <target xsi:type="File"
            name="pays"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            fileName="C:/Log/Social/Pays/log.txt"
            archiveFileName="C:/Log/SportSocial/Pays/Archive/log.{#####}.txt"
            archiveAboveSize="5242880"
            maxArchiveFiles="200"
            archiveNumbering="Sequence" />

    <target xsi:type="File"
            name="trace_file"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=tostring}"
            fileName="C:/Log/Social/trace_log.txt"
            archiveFileName="C:/Log/SportSocial/Archive/trace_log.{#####}.txt"
            archiveAboveSize="5242880"
            maxArchiveFiles="200"
            archiveNumbering="Sequence" />
    <!--
    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />
    -->
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="SportSocial.Controllers.PayController*" minlevel="Debug" writeTo="pays"/>
    <logger name="BLL.Payment.Impls.PayService*" minlevel="Debug" writeTo="pays"/>
    <logger name="BLL.Payment.Impls.PayPalService*" minlevel="Debug" writeTo="pays"/>
    <logger name="BLL.Payment.RobokassaService*" minlevel="Debug" writeTo="pays"/>
    <logger name="*" writeTo="file,console"/>
    <!--
    <logger name="*" minlevel="Trace" writeTo="f" />
    -->
  </rules>
</nlog>