<div class="fs-modal__title">Вход</div>
<div class="fs-modal__body login-modal">
    <form name="LoginForm"
          ng-submit="submit()"
          ng-class="{ 'show-valid': showValid }">
        <div class="field-error"
             ng-show="showValid && LoginForm.$error.required">Все поля обязательны для заполнения</div>
        <div class="field-error"
             ng-show="loginParamsError">Неверный номер телефона или пароль</div>
        <div class="fs-form__row">
            <input type="text" ng-model="login.phone" required placeholder="Номер телефона без +" class="fs-input" />
        </div>
        <div class="fs-form__row">
            <input type="password" ng-model="login.password" required placeholder="Пароль" class="fs-input" />
        </div>
        <div class="fs-modal__submit">
            <button class="btn btn-fill-green btn-xl" type="submit" ng-click="showValid=true">Войти</button>
        </div>
        <div class="login-modal__bottom">
            Ещё нет аккаунта? <span class="link" data-modal-click="restorePasswordSubmitPhone">Забыли пароль?</span><br />
            <span class="link" ng-click="toRegistration()">Зарегистрироваться</span>
        </div>
    </form>
</div>