<div class="fs-modal__title">Восстановление пароля</div>
<div class="fs-modal__body">
    <div data-server-validation="serverValidation">
        <form name="RestorePasswordForm"
              ng-submit="submit()">
            <div class="fs-form__row">
                <input name="password" type="password" ng-model="restore.password" required placeholder="Новый пароль" class="fs-input" />
            </div>
            <div class="fs-form__row">
                <input name="passwordRepeat" type="password" ng-model="restore.passwordRepeat" required placeholder="Повторите пароль" class="fs-input" />
            </div>
            <p class="text-center">Вам отправлено СМС с кодом восстановления</p>
            <div class="fs-form__row">
                <input name="code" type="text" ng-model="restore.code" required placeholder="Код восстановления из СМС" class="fs-input" />
            </div>
            <div class="fs-modal__submit">
                <button ng-disabled="!RestorePasswordForm.$valid" class="btn btn-fill-green btn-xl" type="submit">Сохранить новый пароль</button>
            </div>
        </form>
    </div>
</div>