<div class="fs-modal__title">Восстановление пароля</div>
<div class="fs-modal__body">
    <form name="RestorePasswordForm"
          ng-submit="submit()"
          ng-class="{ 'show-valid': showValid }">
        <div class="field-error"
             ng-show="showValid && RestorePasswordForm.$error.required">Номер телефона обязателен для заполнения</div>
        <div class="field-error"
             ng-show="restoreParamsError">Указанный номер телефона не найден в базе</div>
        <p class="text-center">Введите номер телефона, указанный при регистрации</p>
        <div class="fs-form__row">
            <input type="text" ng-model="phone" required placeholder="Номер телефона без +" class="fs-input" />
        </div>
        <div class="fs-modal__submit">
            <button class="btn btn-fill-green btn-xl" type="submit" ng-click="showValid=true">Отправить</button>
        </div>
    </form>
</div>