<div class="fs-modal__title">Восстановление пароля</div>
<div class="fs-modal__body">
    <form name="RestorePasswordForm"
          ng-submit="submit()"
          ng-class="{ 'show-valid': showValid }">
        <div class="field-error"
             ng-show="showValid && RestorePasswordForm.$error.required">Все поля обязательны для заполнения</div>
        <div class="field-error"
             ng-show="restore.password != restore.passwordRepeat && showValid">Пароли не совпадают</div>
        <div class="field-error"
             ng-show="serverErrorMsg.length">{{serverErrorMsg}}</div>
        <div class="fs-form__row">
            <input type="password" ng-model="restore.password" required placeholder="Новый пароль" class="fs-input" />
        </div>
        <div class="fs-form__row">
            <input type="password" ng-model="restore.passwordRepeat" required placeholder="Повторите пароль" class="fs-input" />
        </div>
        <p class="text-center">Вам отправлено СМС с кодом восстановления</p>
        <div class="fs-form__row">
            <input type="text" ng-model="restore.code" required placeholder="Код восстановления из СМС" class="fs-input" />
        </div>
        <div class="fs-modal__submit">
            <button class="btn btn-fill-green btn-xl" type="submit" ng-click="showValid=true">Сохранить новый пароль</button>
        </div>
    </form>
</div>